@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("OpenDyslexic-Regular.woff2") format("woff2"),
    url("OpenDyslexic-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("OpenDyslexic-Bold.woff2") format("woff2"),
    url("OpenDyslexic-Bold.woff") format("woff");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("OpenDyslexic-Italic.woff2") format("woff2"),
    url("OpenDyslexic-Italic.woff") format("woff");
}

@font-face {
  font-family: "OpenDyslexic";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("OpenDyslexic-Bold-Italic.woff2") format("woff2"),
    url("OpenDyslexic-Bold-Italic.woff") format("woff");
}
