
& {
  color: #000;
  font-size: 12pt;
}

ul, ol {
  padding-left: @t-skipline;
}

p, ul, ol {
  + ul {
    margin-top: -@t-skipline/2;
  }
}

h1,h2,h3,h4 {
  font-family: 'Nanook';
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  font-size: 50pt;    
}
h2 {
  font-size: 30pt;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 14pt;
}
h5,h6,h7 {
  font-size: inherit;
  font-weight:normal;
  margin: 0;
}