doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Perf tester
  body 
    <div id="app">
      <input type="url" v-model="url" /><br>
      <input type="number" v-model.number="count" /><br>
      <input type="range" v-model.number="width" min="100" max="800" /><br>
      <div class="iframes">
        <iframe v-for="i in Array(count).fill(undefined)" :key="i" :src="url" :width="width" height="700">
        </iframe>
      </div>
    </div>

  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js")
  script.
    const local_ips = !{JSON.stringify(local_ips)};
    function firstIP() {
      return Object.values(local_ips)[0][0];
    }

    var app = new Vue({
      el: '#app',
      data: {
        count: 4,
        width: 500,
        url: `${window.location.origin}`,
        local_ips
      }
    })
    
  style. 
    body {
      margin: 10px;
    }

    .iframes {
      display: flex;
      flex-flow: row wrap;
      gap: 5px;
      margin-top: 10px;
    }
    iframe {
      margin: 0;
      border: none;
    }