doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    <div id="app">
      <input type="number" v-model.number="count" /><br>
      <template v-for="i in Array(count).fill(undefined)">
        <iframe src="https://localhost:8080" width="300" height="400">
        </iframe>
      </template>
    </div>

  script(src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js")
  script.
    var app = new Vue({
      el: '#app',
      data: {
        count: 5
      }
    })
  style. 
    body {
      margin: 0;
    }

    iframe {
      margin: 0;
      border: none;
    }