

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {

  border:none;

  display: block;
  font-family: inherit;
  width: 100%;

  font-size: 1.5rem;
  height: 3.3125rem;

  padding: $t-margin/2;
  margin: 0 0 $t-margin 0;

  color: inherit;
  background-color: $c-gris_clair;
  border-bottom: 2px solid $c-gris;

  transition: border-color 0.50s linear, background 0.15s linear, border-width 0.15s;


  &:focus {
    border-color: $c-images;
    outline: none;
  }
}
input:required {
  background-image: radial-gradient($c-rouge 20%, transparent 25%);
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;

  &.is--empty {
    border-color: $c-rouge;
  }

  + label {
    background-image: radial-gradient(#fff 20%, transparent 25%);
    background-size: 16px 16px;
    background-position: top right;
    background-repeat: no-repeat;
  }
  &.is--empty + label {

  }
}


input[type=range] {
  & {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track  {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: $c-bleuvert-clair;
  }
  &::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $c-bleuvert;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
}

input[type="number"] {

  width: 4rem;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
     opacity: 1;
  }
}
// input items basic styles
textarea {
  height: 6rem;
}

fieldset {
  border:none;
}

// file picker
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    display: flex;
    width: 100%;
    max-width: 380px;
    font-size: 1.2rem;
    text-overflow: ellipsis;
    text-align: center;
    text-transform: lowercase;

    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: $t-margin/2 $t-margin;
    margin-bottom:  $t-margin;

    border-radius: 5px;
    min-height: 3.3125rem;

    transition: color 1s;
  }

  :focus + label,
  &.has-focus + label {
    outline: 1px dotted $c-rouge;
    outline: -webkit-focus-ring-color auto 5px;
  }

  + label * {
    display: block;
  }

  + label svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
  }


  &.inputfile-2 + label {
    background-color: $c-rouge;
    color: white;
    border: 0px solid currentColor;
  }

  &.inputfile-2:focus + label,
  &.inputfile-2.has-focus + label,
  &.inputfile-2 + label:hover {

  }


}

