$pourcentageBuffer: 66%;

body.bibli {
  overflow: hidden;
}


.biblimontage-container {
  position: relative;

}
.bibli-buffer {

  position: relative;
  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  text-align: left;


  .btn-medias {
    position: fixed;

    margin-top: 10vh;
    width: 50px;
    z-index: 500;
    right: 0;

    background-color: #333;
    border-radius: 4px 0 0 4px;

    transition: all .7s ease-out;

    body[data-publicationpane="open"] & {
      right: 100 - $pourcentageBuffer;
      background-color: #EF474B;
    }

    &:hover {
      width:  170px;

      .button-wrapper_collapsed {
        width:  155px;
        color: inherit;
        background-color: inherit;
      }

      .button-wrapper {
        &_add, &_edit, &_publi, &_editProjet, &_addMedia, &_backButton, &_editFolder {
          background-color: $rouge;
          color: white;
        }
        &_capture, &_view, &_deleteFolder, &_deleteMedia {
          background-color: #FFB520;
          color: white;
        }
        &_bibli, &_gofullscreen , &_leavefullscreen {
          background-color: #293275;
          color: white;
        }
        &_accept, &_addText {
          background-color: $bleuvert;
          color: white;
        }

      }
    }

    .button-wrapper {
      display: block;
      margin-top:   0;
      margin-bottom: 0;
      float: none;

      margin: 5px !important;
    }
  }

}
.montage{

  position: absolute;
  top: 0;
  bottom: 0;
  left: $pourcentageBuffer;
  right: 0;

  background:   #EFEFEF;
  border-left: 4px solid #EF474B;

  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  padding-left: 0.9375rem * 2;
  padding-right: 0.9375rem * 2;

  transform: translate( 100%, 0);

  transition: transform .7s ease-out;

  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);


  body[data-publicationpane="open"] & {
    transform: translate( 0, 0);
  }

  .open-montage-bar {
    position: absolute;

    padding: 0; margin: 0;

    top:0;
    left: 0;
    bottom: 0;

    width:  5px;
    z-index:  1000;
    background-color: #EF474B;
    background-size: 5px 100%;

    display: none;
  }

  .montage-edit-container {
    display: none;
  }


  .montage-edit {
    background:$gristresclair;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    display: block;
    min-height: 100vh;

    .montage-btn {
      @include clearfix();
      padding: 15px;

      .button-wrapper_backButton {
        float: left;
      }
      .button-wrapper_view {
        float: right;
      }
    }

    .montage-title{

      @include clearfix();


      position: relative;
      padding: 9px 15px;
      margin-bottom: 0;
      background-color: #fff;

      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

      .title {
        float: left;

        font-weight: bold;
        font-size: 1.6em;
        margin: 0;

      }

      .publi-btn {

        float: right;
        margin-top: 4px;


        .button-wrapper {
          display: block;
          float: none;

          &.button-wrapper_accept {
            display: none;
            width:  142px;

            span {
              width: 95px;
            }
          }
        }
      }

      input{
        display:none;
        width: calc( 100% - 160px);
        float: left;
        margin: 0;
        margin: 0;
        font-size: 1.4em;
        height: 2.8rem;
      }


    }
  }
  .inner-montage{

    @include grid-row();

    height:100%;
    min-height:200px;

    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-bottom: 1.875rem * 2;
    margin-bottom: 1.875rem * 2;

    border-bottom:  2px solid #eee;

    background-color: #fff;

    transition: background-color .4s, transform .6s ease-out;

    body.gu-unselectable & {
      // une bonne idéé à retravailler
//       transform: scale( .8);
    }

    &:empty {
      background-color: #fff;
      padding:15px;
      &::before {
        content: "Glissez ici vos médias pour composer un récit.";
        color: #aaa;
        position: relative;
      }
    }

    .media {
      @include grid-column(12);

      position: relative;
      cursor: move;

      transition: all .4s;


      .button-wrapper {
        position: absolute;
        top:0;
        right: 0;
      }

      &::before {
        display: none;
      }

      .button-wrapper_deleteMedia {
        opacity:0;
        display: block;
        transition: border-radius .4s, width .8s, background-color .6s, color .6s ease-out, opacity .4s ease-out;
      }

      &:hover {
        .button-wrapper_deleteMedia {
          opacity:1;
        }
      }

    }



    .media.gu-transit {
      height: 120px;
      width:  100%;
      width: auto;
      display: block;

      opacity: 1;

      overflow: hidden;

      animation-name: insertBloc;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-duration: 0.3s;
    }


    .media.gu-transit .mediaContent {
      height: 100%;
      opacity: 1;
      background-color: $orange;

      > * {
        opacity: 0;
      }
     }
  }
}

@keyframes insertBloc {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height:   120px;
      opacity: .8;
    }
}
@keyframes insertMedia {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


// class ajoutée aux éléments draggés. En bas du dom
.gu-mirror {
  .button-wrapper_flagMedia {
    display: none;
  }
}
.button-wrapper_flagMedia {
  display: none;
}

.medias-list {

  @include clearfix();

  width: 100%;

  padding-left:  0.9375rem;
  padding-right:  0.9375rem;

  padding-top:  0.9375rem;
  padding-bottom:  0.9375rem;

  transition: width .8s, opacity .8s;

  body[data-publicationpane="open"] & {
    width: $pourcentageBuffer;
  }

  body.gu-unselectable & {
    opacity: .6;
  }


  &:empty::after {
    content: "Ce projet ne contient pas encore de médias. \A  \A Rendez-vous sur l'écran de capture pour en ajouter ou importez les avec la barre de droite.";
    max-width: 36rem;
    margin: 32vh auto;
    color: #aaa;
    text-align:center;
    white-space: pre;
  }

  .media {

    @include grid-column(2);

    cursor: pointer;
    transition: width 1.1s ease;


    body:not([data-publicationpane="open"]) &:nth-child(6n+1) {
      clear: left;
    }

    body[data-publicationpane="open"] & {
      @include grid-column(3);
      cursor: move;

      &:nth-child(4n+1) {
        clear: left;
      }
    }

  }

}



.montage-list {
  margin-top:   15px;
  > .button-wrapper {
    margin-bottom:  15px;
  }
  .publi-folder {

    position: relative;
    padding: 7px 15px 9px;

    margin-bottom:  15px;

    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    @include clearfix();

    .content {
      float:left;

      .title {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-top:  6px;
        margin-bottom:  6px;

        cursor: pointer;

        &:hover {
          color: $rouge;
        }
      }
    }

    .publi-btn {
      display: block;
      float: none;

      position: absolute;
      right: 9px;
      top: 11px;
    }
  }
}