$pourcentageBuffer: 66%;

body.bibli {
  overflow: hidden;
}

.bibli-buffer {
  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  text-align: left;


  .btn-medias {
    position: fixed;
    top: 120px;
    width: 50px;
    z-index: 500;
    right: 0;

    padding: 5px;

    background-color: #333;
    border-radius: 4px 0 0 4px;

    transition: all .7s ease-out;

    body[data-publicationpane="open"] & {
      right: 100 - $pourcentageBuffer;
      background-color: #EF474B;
    }

    &:hover {
      width:  170px;
    }

    .button-wrapper {
      display: inline-block;
      margin-top:   0;
      margin-bottom: 0;
      float: none;


    }
  }

}
.montage{

  position: fixed;
  top: 70px;
  bottom: 0;
  left: $pourcentageBuffer;
  right: 0;

  background:   #EFEFEF;
  border-left: 4px solid #EF474B;

  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  padding-left: 0.9375rem * 2;

  transform: translate( 100%, 0);

  transition: transform .7s ease-out;

  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);


  body[data-publicationpane="open"] & {
    transform: translate( 0, 0);
  }

  .open-montage-bar {
    position: absolute;

    padding: 0; margin: 0;

    top:0;
    left: 0;
    bottom: 0;

    width:  5px;
    z-index:  1000;
    background-color: #EF474B;
    background-size: 5px 100%;

    display: none;
  }


  .montage-edit{
    background:$gristresclair;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    display:none;
    min-height: 100vh;


    .montage-btn {
      @include clearfix();
      padding: 15px;

      .button-wrapper_backButton {
        float: left;
      }
      .button-wrapper_view {
        float: right;
      }
    }

    .montage-title{

      @include clearfix();

      text-align: right;

      position: relative;
      padding: 9px 15px;
      margin-bottom: 0;
      background-color: #fff;

      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

      .title {
        float: left;

        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-top: 3px;

      }

      .button-wrapper {
        display: inline-block;
        float: none;

        &.button-wrapper_accept {
          display: none;
          width:  142px;
          margin-top: 2px;
        }
      }

      input{
        display:none;
        width: calc( 100% - 160px);
        float: left;
        margin: 0;
        margin: 0;
        font-size: 1.4em;
        height: 2.8rem;
      }


    }
  }
  .inner-montage{

    @include grid-row();

    height:100%;
    min-height:200px;

    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-bottom: 1.875rem;

    border-bottom:  2px solid #eee;

    background-color: #fff;

    transition: background-color .4s;

    &:empty {
      background-color: #fff;
      padding:15px;
      &::before {
        content: "Glissez ici vos médias pour composer un récit.";
        position: relative;
      }
    }

    .media {
      @include grid-column(12);

      padding-bottom: 0.4687rem;
      padding-top: 0.4687rem;
      cursor: move;

      position: relative;

      transition: all .4s;

      .mediaContent {
        overflow: hidden;

      }

      .button-wrapper {
        position: absolute;
        top:0;
        right: 0;
      }

      .button-wrapper_deleteMedia {
        opacity:0;
        transition: border-radius .4s, width .8s, background-color .6s, color .6s ease-out, opacity .4s ease-out;
      }

      &:hover {
        .button-wrapper_deleteMedia {
          opacity:1;
        }
      }

      .media-title:empty() {
        display: none;
      }
    }

    .media.gu-transit {
        height: 90px;
        width:  100%;
        width: auto;
        display: block;
    }
    .media.gu-transit .mediaContent {
        background-color: $grisclair;
        height: 100%;
    }
    .media.gu-transit .mediaContent > * {
        opacity: 0;
    }

  }
}

.medias-list {

  @include clearfix();

  width: 100%;

  padding-left:  0.9375rem;
  padding-right:  0.9375rem;

  padding-top:  0.9375rem;
  padding-bottom:  0.9375rem;

  transition: width .8s;

  body[data-publicationpane="open"] & {
    width: $pourcentageBuffer;
  }

  .media {


    width: 16.66667%;
    float: left;
    position:relative;

/*
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
*/

    padding: 0;
    border: .4687rem solid #eee;
    background:   $gristresclair;

    cursor: move;
    //overflow: auto;

    transition: width 1.1s ease;

    body:not([data-publicationpane="open"]) &:nth-child(6n+1) {
      clear: left;
    }

    body[data-publicationpane="open"] & {
      width: 25%;

      &:nth-child(4n+1) {
        clear: left;
      }
    }

    &.media_text {
      padding: .9375rem;
      h3{
        font-size: 1.2em;
        font-weight: normal;
      }
      p{
        font-size:0.8em;
      }
    }

    > h3 {
      margin-top: 0;
    }

    .mediaContent{
      overflow:scroll;
      min-height: 10vw;
      max-height: 20vw;
    }

    // type de media (anciennement icone-media)
    &::before {
      content:"";
      position: absolute;

      width: 20px;
      height: 20px;
      right: -10px;
      top: -10px;
      z-index:  100;

      background-size: cover;

    }
    &[data-mediatype="image"]::before {
      background-image: url("/images/icone-dodoc_image.png");
    }
    &[data-mediatype="video"]::before {
      background-image: url("/images/icone-dodoc_video.png");
    }
    &[data-mediatype="stopmotion"]::before {
      background-image: url("/images/icone-dodoc_anim.png");
    }
    &[data-mediatype="audio"]::before {
      background-image: url("/images/icone-dodoc_son.png");
    }

  }

}



.montage-list {
  margin-top:   15px;
  > .button-wrapper {
    margin-bottom:  15px;
  }
  .publi-folder {

    position: relative;
    padding: 9px 15px 2px;
    padding-bottom: 2px;

    margin-bottom:  15px;

    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    text-align: right;

    @include clearfix();

    .content {
      float:left;

      .title {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-top:  3px;
      }
    }

    .button-wrapper {
      display: inline-block;
      float: none;
    }
  }
}