body.bibli {
  overflow: hidden;
}

.bibli-buffer {
  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

}
.montage{
  height: calc( 100vh - 70px);
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;

  padding-left: 0.9375rem * 2;

  &.is--opened {
    transform: translate( 100%, 0);
  }

  .open-montage-bar {
    position: absolute;

    padding: 0; margin: 0;

    top:0;
    left: 0;
    bottom: 0;

    width:  15px;

    background: linear-gradient(
      to left,
      #aaa,
      transparent 50%,
      transparent
    );
    background-size: 5px 100%;

  }


  .montage-edit{
    background:$gristresclair;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    display:none;
    .montage-title{
      input{display:none;}
    }
  }
  .inner-montage{

    @include grid-row();

    height:100%;
    min-height:200px;

    padding: 15px;

    border-top:   2px solid #eee;

    &:empty {
      background-color: #fff;
      &::before {
        content: "Glissez içi vos médias pour composer un récit.";
        position: relative;
      }
    }

    .media {
      @include grid-column(12);
      margin-bottom: 15px;

    }

  }
}

.medias-list {
  @include grid-row();
  padding-top:  0.9375rem;
  padding-bottom:  0.9375rem;

  .media {
    @include grid-column(4);
    padding-top:  0.9375rem;
    padding-bottom:  0.9375rem;
  }

}



.montage-list {

  margin-top:   15px;

  > .button-wrapper {
    margin-bottom:  15px;
  }

  .publi-folder {

    position: relative;
    padding: 15px;
    margin-bottom:  15px;

    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    text-align: right;

    @include clearfix();

    .content {
      float:left;

      h2 {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
      }
    }

    .button-wrapper {
      display: inline-block;
      float: none;
    }
  }
}