@media #{$medium-only} {
  .reveal-modal {
    max-width: 100% !important;
    .popoverTitle {
      font-size: 2.5em !important;
    }
    input[type="text"], select {
      font-size: 2.3em !important;
      height: 3em !important;
    }
    input[type="submit"], button {
      padding: 20px 22px !important;
      font-size: 2.3em;
    }
  }

}

.reveal-modal {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 16px 16px 16px;

  max-width: 32.5rem;

  max-height: 80vh;
  overflow-y: scroll;
  
  &:focus {
    outline: none;
  }

  .popoverTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    margin-top: 3px;

    width:  80%;

    margin-bottom:  $margin;
  }

  > p {
    width:  80%;
  }

  .button_submit {
    float:right;
  }

  .button-wrapper_deleteFolder  {
    float:left;
  }

  button {
    margin-bottom: 0;
  }
  
  .legende {
    padding: $margin/2;    
  }


  input[type="submit"], button {
    display: block;
    border: none;
    background-color: $bleuvert;

    padding: 4px 24px;
    height: 42px;
    border-radius: 22px;
    cursor: pointer;

    color: white;
  }
  
  
  .templateSelector {
    
    @include clearfix();
    text-align: left; 
    padding: 0; 
    background-color: $gristresclair;

            
            
            
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    
    label {
    
      position: relative;
      float: left;  
      width: 33.3333%;
      vertical-align: top;
      padding: 0;
      padding: $margin/2;
      color: $grisfonce;
            
      span {
        display: block; 
        width: 100%;
        padding: $margin/2;
        background-color: $orange-clair;
      }

      input:checked {
        & ~ span { 
          background-color: $orange;
        }
        
        & ~ svg {
          #fond > * {
              fill: $orange;
          }
          #modules > * {
            fill: $bleumarine;
          }
        }
      }
      
      svg {
        position: relative;

        #fond * {
          fill: $orange-clair;
        }
      }
    }
        
  }

  &#modal-statut-alert, &#modal-delete-alert {
    button {
      display: inline-block;
      padding: 9px 22px;
      margin-right: 16px;
      border-radius: 2px;

      &.annuler {
        background-color: $rouge;
      }
    }
  }


  textarea {
    border: none;
    border-bottom: 2px solid $gris;
    box-shadow: none;
    padding-left: .6em;
    font-size: 1em;
    min-height: 3.3em;
    background-color: $gristresclair;
  }


  // file picker
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  .inputfile + label {
      max-width: 80%;
      font-size: 1.25rem;
      /* 20px */
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;

      margin-bottom:  10px;
      /* 10px 20px */
  }

  .no-js .inputfile + label {
      display: none;
  }

  .inputfile:focus + label,
  .inputfile.has-focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label * {
      /* pointer-events: none; */
      /* in case of FastClick lib use */
  }

  .inputfile + label svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      /* 4px */
      margin-right: 0.25em;
      /* 4px */
  }

  /* style 6 */

  .inputfile-6 + label {
      color: #d3394c;
  }

  .inputfile-6 + label {
      background-color: #f1e5e6;
      border-radius: 6px;
      padding: 0;
  }

  .inputfile-6:focus + label,
  .inputfile-6.has-focus + label,
  .inputfile-6 + label:hover {
      border-color: #722040;
  }

  .inputfile-6 + label span,
  .inputfile-6 + label strong {
      padding: 0.625rem 1.25rem;
      /* 10px 20px */
  }

  .inputfile-6 + label span {
      width: 200px;
      min-height: 2em;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
  }

  .inputfile-6 + label strong {
      height: 100%;
      color: white;
      background-color: $rouge;
      display: inline-block;
      font-weight: normal;
      font-size:  .8em;
  }

  .inputfile-6:focus + label strong,
  .inputfile-6.has-focus + label strong,
  .inputfile-6 + label:hover strong {
      background-color: #722040;
  }

  @media screen and (max-width: 50em) {
  	.inputfile-6 + label strong {
  		display: block;
  	}
  }

  .inputfile-2 + label {
      color: #d3394c;
      border: 2px solid currentColor;
  }

  .inputfile-2:focus + label,
  .inputfile-2.has-focus + label,
  .inputfile-2 + label:hover {
      color: #722040;
  }


  &#modal-media-view{
    max-width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;

    bottom: 60px;
    overflow-y: auto;

    .row{
      max-width:100%;
    }
    .button-wrapper_highlightMedia{
      color:$bleuvert;
      background-color: transparent;
/*
      border: 1px solid $bleuvert;
      color:$bleuvert;
      padding: 6px 22px;
      border-radius: 20px;
      &:hover{
        background-color:$bleuvert;
        color: #FFF;
        border:none;
      }
*/
    }
    .is--highlight{
      .button-wrapper_highlightMedia{

        color: white;
        background-color: $bleuvert;

      }

/*
      .button-wrapper_highlightMedia{
        background-color:$bleuvert;
        color: #FFF;
        border:none;
        &:hover{
          border: 1px solid $bleuvert;
          color:$bleuvert;
          background-color:#FFF;
        }
      }
*/
    }
    .button-wrapper {
      margin: 20px 0px 25px 0px;
      float: none;
      span{
        margin-left:10px;
      }
    }
  }

}

input[type="text"], select {
  border: none;
  border-bottom: 2px solid $gris;
  box-shadow: none;
  padding-left: .6em;
  font-size: 1.3em;
  height: 2.3em;
  background-color: $gristresclair;

  &:focus {
    border-color: $c-images;
  }
}

::-webkit-input-placeholder {
  color: #bbb;
}

select {
  border-bottom: 2px solid $gris;


}