// P R O J E T S
body.projets{

  #container{
    $projectHeight : 150px;
    padding:50px 0px;
    width:100%;


    .folder-wrapper {
      @include clearfix();
      margin-bottom:  30px;

      .folder {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: normal;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 32px;

      }
    }


    .add-project-wrapper {
      margin-bottom:  50px;
    }

  }
}


// PROJETS and PROJET
.project-list{
  @include clearfix();
  margin-left: 0;
  @include grid-row;

  max-width: 68rem;

  .project{

    height: 0;
    padding-bottom: 15%;

    & + .project {
      margin-top:  35px;
    }

    img[src=""]{
      display: none;
    }

    .statut-type {
      color: $bleuvert;
    }
    &[data-statut="en cours"] {
      .title.title:hover {
        color: $orange;
      }
      .statut-type {
        color: $orange;
      }
    }

    .project-inside {

      @include style--dossierBorders;
      border-bottom: 0;

      margin-left: 0.9375rem;
      margin-right: 0.9375rem;

      position: absolute;
      top: 0; bottom: 0;  left: 0;  right: 0;

    }

    .button-wrapper_editProjet {
      position:absolute;
      top:-16px;
      right: 0;
      z-index:5;
    }
    .left-content{
      background-color:#FFF;
      overflow-y: scroll;
      height: 100%;
      padding: 0;
      padding-top:  0;


      .title {
        display: block;
        font-weight: bold;
        font-size: $h2Size;
        padding: 10px 16px;
        margin: 0;

        &:hover {
          color: $bleuvert;
        }
      }
      .meta-data{
        font-style:italic;
        font-family: "share", monospace;

        span:nth-of-type(1) {
          margin-right: 5px;
        }
        .created{
          .create-date{
            font-weight:bold;
          }
        }
        .modified{
          text-align: left;
          .modify-date{
            font-weight:bold;
          }
        }
      }

      .button-to-pages {
        padding: 0;
        .legende {
          margin-bottom: 5px;
          margin-top: 0;
        }
      }
    }
    .image-wrapper{
      overflow: hidden;
      padding: 0;

      height: 100%;
      background-color: #f3f3f3;

      img {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
      }
    }


    .legende {
      padding-left:   0.9375rem;
    }

    .last-medias {
      @include grid-row;
      @include clearfix();

      @include style--dossierBorders;
      margin-top: 3px;
      padding: 17% 0.9375rem 25px;

      .media {
        @include grid-column(3);
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;


      }


    }

    .montage-list {

      @include grid-row;
      @include clearfix();

      @include style--dossierBorders;

      padding: 15px 0.9375rem 25px;
      margin-top: 0px;
      margin-bottom:  75px;

      .publi-folder {
        @include grid-column(12);
      }

    }
  }
}

body.projet {
  .project-list {
    margin-top:   75px;
  }


}