body.publi{
  background-color: #fff;
  header{

  }

  .module_localNetworkInfos {
    display: none;
  }

  .publi-title {
    margin-bottom: 35px;
    padding: 9px 15px;
    margin: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  .media {
    padding: 0 0;
    width: 100%;
    float: none;

    margin-bottom: 22px;

    &::before {
      display: none;
    }

    .mediaContent {
      box-shadow: none;
    }
    // hide fav color
    &::after {
      display: none;
    }

    // hide delete button
    .button-wrapper_deleteMedia {
      display: none;
    }
    .button-wrapper_flagMedia {
      display: none;
    }
  }
}