@media #{$small-only} {
  .button-wrapper{
    background-color: transparent !important;
    width: 50px !important;
    height: auto !important;
    span{
      display:none !important;
    }
  }
  .button-wrapper_collapsed{
    overflow: visible !important;
  }
  .btn.icon{
    width: 50px !important;
    height: 50px !important;
  }
  p{
    font-size: 2em !important;
  }
}

@media #{$medium-only} {
  .button-wrapper{
    background-color: transparent !important;
    width: 60px !important;
    height: auto !important;
    span{
      display:none !important;
    }
  }
  .button-wrapper_collapsed{
    overflow: visible !important;
  }
  .btn.icon{
    width: 60px !important;
    height: 60px !important;
  }
  p{
    font-size: 2em !important;
  }
}