// FONT SIZE
$buttonFont: 1rem;
$titlePopUpFont: 1.5em;
$h2Size: 1.8em;

// T A I L L E S
$margin: 16px;
$marginrem: .9375rem;
$t-navbarheight: 80px;

// C O L O R S
$bleumarine: #293275;
$bleuvert: #48C2B5;

$grisfonce: #535353;
$grisclair: #B5B5B5;
$gristresclair: #e5e5e5;

$orange: #FFB520;
$rouge: #EF474B;

// new colors
$c-images: #FFB520;
$c-videos: #fe414d;
$c-sons: #09227c;
$c-anim: #48c2b5;

$c-dossier: #F56A4B; // #F56A4B
$c-projet: #40beb3;
$c-bibli: #293275;
$c-capture: $orange;
$c-publi: #EF4651;

$c-separator: #DFDFDF;



