// FONT SIZE
$buttonFont: 1rem;
$titlePopUpFont: 1.5em;
$h2Size: 1.8em;

// T A I L L E S
$margin: 16px;
$marginrem: .9375rem;
$t-navbarheight: 70px;

// C O L O R S


$bleumarine: #0E2173;
$bleuvert: #4BC0B4;
$orange: #FFBE32;
$rouge: #FF3E51;

$grisfonce: #535353;
$grisclair: #B5B5B5;
$gristresclair: #e5e5e5;


// new colors
$c-images: $orange;
$c-videos: $rouge;
$c-sons: $bleumarine;
$c-anim: $bleuvert;

$c-dossier: $rouge; // #F56A4B
$c-projet: $bleuvert;
$c-bibli: $bleumarine;
$c-capture: $orange;
$c-publi: $rouge;

$c-separator: #DFDFDF;



