// I M P O R T
@import "variables.scss";

html {
	margin:0;
}

body,html {
	height:100%;
}

li{list-style: none;}

h1,h2,h3,h4,h5,h6{font-family:"fira", sans-serif;}


body {
  margin: 0;
  background-color: #EFEFEF;
  color: #000;
  font-size: 1em;
  font-family: 'fira', sans-serif;

	&:after {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1100;
		visibility: hidden;
		width: 100%;
		height: 100%;
		background: rgba( 0, 0, 0, 0.8);
		content: '';
		opacity: 0;



		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s;
	}

	&.is-overlaid:after {
		visibility: visible;
		opacity: 1;
		cursor: pointer;
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}
}

a{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}

button{
	outline: none;
	border:none;
	background: none;
}

.row{max-width:90%;}
.columns+.columns:last-child{float:left;}


/******************
  Mixins
  ********************/
@mixin style--dossierBorders {
  border-bottom: 2px solid #eeeeee;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}




/////////////////// les buttons


.button-wrapper {
  display: block;
  position: relative;
  width:  235px;
  height: 60px;
  background-color: #ccc;

  border-radius: 30px;
  padding: 8px;
  padding-right: 16px;

  transition: border-radius .4s;

  font-size: $buttonFont;
  line-height: 1.41;


  &_add {
    background-color: $rouge;
    color: white;

    &:hover {
      color: white;
      border-radius: 0px;
    }
  }

  .btn {
    float:left;
  }

  > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 60px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);

  }

}





.btn.icon {
  padding: 6px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease-out;

	&:hover, &:hover{
		border-radius: 20%;
	}

	svg {
		width: 100%;
		height:100%;
		vertical-align: middle;
	}

	&.tooltip {
	    width: 110px;
	    font-size: 14px;
		.tooltip-inner {

		}

	}
}






// I N D E X
body.index{
  header{
    padding:30px;
    width: 100%;
    .logo{
        margin:auto;
        width: 33%;
    }
  }
  #container{
    padding:50px 0px;
    width:100%;

    .dossier-list{

      margin: 0;
    }
  }
}

.dossier {
  margin-bottom: $margin * 2;
  &:nth-child(3n+3) {
    clear: left;
  }
  .dossier-inside {
    @include style--dossierBorders;
  }

  .edit-icon{
    position:absolute;
    top:-16px;
    right: 0px;
  }

  .content{
    overflow:hidden;

    height: 250px;
    h2{
      display: block;
      margin: 0;
      padding: 16px;
      font-weight: bold;
      font-size: $h2Size;

    }
    .projet-list{
      overflow-y:scroll;
      padding: 7px 20px;
      height: 200px;
    }

  }
  .meta-data{

    margin: 0;
    padding-top: 4px;
    padding-bottom: 8px;

    background-color: #f5f5f5;
        color: #8d8d8d;
    font-style:italic;

    font-family: "share", monospace;

    >* {
      padding-top: 4px;
    }
    .nb-projets{
      .numero-projet{
        font-weight:bold;
     }
    }
    .statut{
      text-align: right;
      .statut-type{
        font-weight:bold;
      }
    }
    .created{
      .create-date{
        font-weight:bold;
      }
    }
    .modified{
      text-align: right;
      .modify-date{
        font-weight:bold;
      }
    }
  }
}



.dossier {

  .content a:hover h2 {
      background-color: #383838;
      color: white;
  }

  &[data-statut="en cours"] {
    .content a:hover h2 {
      background-color: $bleuvert;
      color: white;
    }

    .statut-type {
      color: $bleuvert;
    }
  }
}

// F I N    I N D E X


// P R O J E T S 
body.projets{
  header{
    padding:30px;
    width: 100%;
    .logo{
        margin:auto;
        width: 33%;
    }
    .back.btn {
      position: fixed;
      left: 8px;
      top: 8px;
    }
  }
  #container{
    $projectHeight : 150px;
    padding:50px 0px;
    width:100%;


    .folder-wrapper {
      .folder {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: normal;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 32px;

      }
    }


    .add-project-wrapper {
      margin-bottom:  50px;
    }
    .project-list{

      margin-left: 0;
      .project{
        margin-bottom: 50px;
        height: $projectHeight;

        .project-inside {
          @include clearfix;
          @include style--dossierBorders;
        }

        .edit-icon{
          position:absolute;
          top:-16px;
          right: 16px;
          z-index:5;
        }
        .left-content{
          height: $projectHeight;
          background-color:#FFF;
          padding: 0;
          .content{
            padding: 7px 20px;
            h2{
              font-weight: bold;
              font-size: $h2Size;
            }
          }
          .meta-data{
            padding: 7px 20px;
            font-style:italic;
            font-family: "share", monospace;
            .created{.create-date{font-weight:bold;}}
            .modified{text-align: right; .modify-date{font-weight:bold;}}

          }
        }
        .image-wrapper{
          overflow: hidden;
          height: $projectHeight;
          padding: 0;
          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

// F I N     P R O J E T S 

// C A P T U R E 
body.capture{

  .container-inner{
    margin:auto;
  }

  .clone{
    position: absolute;
    left:52%;
    top:0px;
  }

  .media-choice {
    .btn-choice{
      text-align: center;
      button {
        color:#333;
        background-color: #fff;
        border:none;
        margin: 0;
        outline: none;
        font-size: 1em;
        padding: 5px 15px;
        margin:5px;

        &.active, &:hover {
          color:#fff;
          background-color: $bleuvert;
          outline: none;

          &#photo {
            background-color: $cimages;
          }
          &#video-btn {
            background-color: $cvideos;
          }
          &#stopmotion {
            background-color: $canim;
          }
          &#audio {
            background-color: $csons;
          }
        }
      }
    }
  }

  .captureLeft {
    margin: auto;
    padding: 10px;
    position: absolute;
    background-color: #FFF;
    z-index:2;

    .btn-capture-wrapper{
      z-index: 1000;
      background:#FFF;
      height:60px;

      &>div{
        position:absolute;
        //display:none;
        button{
          outline: none !important;
          border:none !important;
          background: none !important;
          margin: auto;
        }
      }
      
      .video-capture{
        .video-save{
          #stop-record-btn{
            display: none;
          }
        }
      }
      .stopmotion-capture{
        button {
          display: inline-block;
        }
        #capture-sm-btn{
          display:none;
        }
      }
      .audio-capture{
        #stop-recording-btn{
          display: none;
        }
      }
    }

    .display-choice{
      position: absolute;
      height:82%;
      top: 0;
      left: 0;

      .choices {
        position: absolute;
        height:100%;
        width:100%;
        top: 0;
        left: 0;
        display:none;
        &.image-choice {
          background-color: $cimages;
        }
        &.video-choice {
          background-color: $cvideos;
        }
        &.stopmotion-choice {
          background-color: $canim;
        }
        &.audio-choice {
          background-color: $csons;
        }
      }

    }
    #canvas-audio{
      display: none;
    }
  }
  
  .captureRight {
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    display: none;
    overflow: hidden;
    .flash{
      height:100%;
      background-color: #FFF;
      display: none;
      position: absolute;


      body[data-mode="photo"] & {
        background-color: $cimages;
      }
      body[data-mode="video"] {
        background-color: $cvideos;
      }
      body[data-mode="stopmotion"] {
        background-color: $canim;
      }
      body[data-mode="audio"] {
        background-color: $csons;     
      }
    }
    .screenshot {
      margin:30px auto 0px auto;
      .meta-stopmotion{
        margin-top: 10px;
        .count-image{
          display: inline-block;
          vertical-align: top;
        }
        .delete-image{
          width: 30px;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      #canvas-equalizer{
        background-color: orange;
      }
    }
    .son {
      display: none;
      padding-left:27px;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    #camera-preview {
      display: none; 
      width: 100%;
    }
    #stop-sm{
      display: none;
      float: right;
      width: 48px;
    }
  }

}


// F I N     C A P T U R E 


/****************
   POPOVER !
****************/

.popover {
  position: fixed;
  z-index: 1200;
  display: block;

  visibility: hidden;
  max-width: 900px;
  border-radius: 4px;

  background-color: #efefef;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: left, top, width;

  &.is-visible {
    visibility: visible;
    &:before {
      width: 36px;
      height: 36px;

    }
  }
  &:before {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 0;
    height: 0;
    background-image: url("/images/clear.svg");
    background-size: cover;
    content: "";
    cursor: pointer;
    transition: width .6s .2s cubic-bezier(0.680, -0.550, 0.265, 1.550), height .6s .2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    pointer-events: none;
  }

  .spinner {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;

  }

  &.is-loading {
    .spinner {
      opacity: 1;
    }
  }

  .popoverContainer {
    overflow-y: scroll;
    padding:20px;
    height: 100%;
  }

  // rendre tous les contenus de popoverContainer block
  .popoverContainer > * {
    display: block !important;
  }

  .popoverTitle {
    margin: 0;
    margin-bottom: .1em;
    padding: 0;
    padding-bottom: .4em;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: $titlePopUpFont;

    font-family:"share", sans-serif;

  }

  input[type="text"]{
    border:none;
  }

  input[type="submit"]{
    float: right;
    margin-top: .5em;
    padding: 0.5em 1em;
    border:none;
    background-color: $bleuvert;
    font-family: "share", sans-serif;
  }
}

.spinner {

  position: relative;
  margin: 100px auto;
  width: 20px;
  height: 20px;
  opacity: 0;

  transition: opacity .4s ease-out;
}

.double-bounce1, .double-bounce2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $bleuvert;
  opacity: 0.6;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  background-color: $bleumarine;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0); }
  50% { -webkit-transform: scale(1.0); }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  } 50% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// END POPOVER