

// I M P O R T
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";

@mixin headline($size, $color: red) {
  color: $color;
  font-size: $size;
}


@import "_variables.scss";
@import "_navbar.scss";
@import "_popover.scss";

html {
	margin:0;
}

body,html {
	height:100%;
}

li{list-style: none;}

h1,h2,h3,h4,h5,h6{font-family:"fira", sans-serif;}


body {
  margin: 0;
  background-color: #EFEFEF;
  color: #000;
  font-size: 1em;
  font-family: 'fira', sans-serif;

	&:after {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1100;
		visibility: hidden;
		width: 100%;
		height: 100%;
		background: rgba( 0, 0, 0, 0.8);
		content: '';
		opacity: 0;



		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s;
	}

	&.is-overlaid:after {
		visibility: visible;
		opacity: 1;
		cursor: pointer;
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}
}

a{
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

ul {
  margin: 0;
}

img, video, audio, svg {
	display: block;
	min-width: 100%;
	width:100%;
}

button{
	outline: none;
	border:none;
	background: #eee;
}

.legende {
  font-style: italic;
  font-size: 1rem;
  color: #8d8d8d;
  text-transform: lowercase;

  margin-bottom:  15px;
}

.row{max-width:90%;}
.columns+.columns:last-child{float:left;}




/******************
  Mixins
  ********************/
@mixin style--dossierBorders {
  border-bottom: 2px solid #eeeeee;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}




/////////////////// les buttons


.button-wrapper {
  display: block;
  position: relative;
  width:  235px;
  height: 40px;
  background-color: #ccc;

  text-align: left;

  border-radius: 30px;
  padding: 8px;
  padding-right: 16px;

  transition: border-radius .4s;

  font-size: $buttonFont;
  line-height: 1.1;

  // deux boutons à la suite = marge au milieu
  & + & {
    margin-left: 8px;
  }


  &:hover, &:focus {
    border-radius: 4px;
    color: white;
  }

  &.button-wrapper_without-bg {
    background-color: transparent;
    &.button-wrapper_add {
      color: $rouge;
      &:hover {
        color: inherit;
      }
    }

    &.button-wrapper_capture {
      color: #FFB520;
    }
    &.button-wrapper_bibli {
      color: #293275;
    }
    &.button-wrapper_publi {
      color: #EF4651;
    }

  }


  &_add, &_edit, &_publi, &_editProjet, &_addMedia {
    background-color: $rouge;
    color: white;
  }
  &_capture, &_view, &_deleteFolder {
    background-color: #FFB520;
    color: white;
  }
  &_bibli {
    background-color: #293275;
    color: white;
  }
  &_accept, &_addText {
    background-color: $bleuvert;
    color: white;
  }

  &_collapsed {
    overflow: hidden;
    float:left;
    padding-left: 0;
    width:  160px;

    // deux boutons collapsed à la suite = marge au milieu
    & + & {
      margin-left: 0;
    }


    transition: border-radius .4s, width .8s, background-color .6s, color .6s ease-out;

    &:not(:hover) {
      width:  44px;
      color: transparent;
      background-color: transparent;
    }

    &.button-wrapper_without-bg {
    }
  }


  .btn {
    float:left;
  }

  .btn.icon {
    margin-top:   -10px;
  }

  .btn.icon + span {
    left: 50px;
    width:  185px;

  }


  > span {
    display: block;
    position: absolute;
    top: 47%;
    left: 20px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);

  }

}





.btn.icon {
  padding: 6px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease-out;

	&:hover, &:hover{
		border-radius: 20%;
	}

	svg {
		width: 100%;
		height:100%;
		vertical-align: middle;
	}

	&.tooltip {
	    width: 110px;
	    font-size: 14px;
		.tooltip-inner {

		}

	}
}





@import '_index';

@import '_bibli';

@import '_projets';


// C A P T U R E
body.capture{

  .container-inner{
    margin:auto;
  }

  .clone{
    position: absolute;
    left:52%;
    top:0px;
  }

  .media-choice {
    .btn-choice{
      text-align: center;
      button {
        color:#333;
        background-color: #fff;
        border:none;
        margin: 0;
        outline: none;
        font-size: 1em;
        padding: 5px 15px;
        margin:5px;

        &.active, &:hover {
          color:#fff;
          background-color: $bleuvert;
          outline: none;

          &#photo {
            background-color: $cimages;
          }
          &#video-btn {
            background-color: $cvideos;
          }
          &#stopmotion {
            background-color: $canim;
          }
          &#audio {
            background-color: $csons;
          }
        }
      }
    }
  }

  .captureLeft {
    margin: auto;
    padding: 10px;
    position: absolute;
    background-color: #FFF;
    z-index:2;

    .btn-capture-wrapper{
      z-index: 1000;
      background:#FFF;
      height:60px;

      &>div{
        position:absolute;
        //display:none;
        button{
          outline: none !important;
          border:none !important;
          background: none !important;
          margin: auto;
        }
      }

      .video-capture{
        .video-save{
          #stop-record-btn{
            display: none;
          }
        }
      }
      .stopmotion-capture{
        button {
          display: inline-block;
        }
        #capture-sm-btn{
          display:none;
        }
      }
      .audio-capture{
        #stop-recording-btn{
          display: none;
        }
      }
    }

    .display-choice{
      position: absolute;
      height:82%;
      top: 0;
      left: 0;
      pointer-events:none;

      .choices {
        position: absolute;
        height:100%;
        width:100%;
        top: 0;
        left: 0;
        display:none;
        &.image-choice {
          background-color: $cimages;
        }
        &.video-choice {
          background-color: $cvideos;
        }
        &.stopmotion-choice {
          background-color: $canim;
        }
        &.audio-choice {
          background-color: $csons;
        }
      }

    }
    #canvas-audio{
      display: none;
    }
  }

  .captureRight {
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    display: none;
    overflow: hidden;
    .flash{
      height:100%;
      background-color: #FFF;
      display: none;
      position: absolute;


      body[data-mode="photo"] & {
        background-color: $cimages;
      }
      body[data-mode="video"] {
        background-color: $cvideos;
      }
      body[data-mode="stopmotion"] {
        background-color: $canim;
      }
      body[data-mode="audio"] {
        background-color: $csons;
      }
    }
    .screenshot {
      margin:30px auto 0px auto;
      .meta-stopmotion{
        margin-top: 10px;
        .count-image{
          display: inline-block;
          vertical-align: top;
        }
        .delete-image{
          width: 30px;
          display: inline-block;
          vertical-align: top;
          margin-right: 10px;
          cursor: pointer;
        }
      }
      #canvas-equalizer{
        background-color: orange;
      }
    }
    .son {
      display: none;
      padding-left:27px;
      margin-top: 60px;
      margin-bottom: 40px;
    }

    #camera-preview {
      display: none;
      width: 100%;
    }
    #stop-sm{
      display: none;
      float: right;
      width: 48px;
    }
  }

}


.js--templates {
  display: none;
}