// FONT SIZE
$buttonFont: 1.2em;
$titlePopUpFont: 1.5em;
$h2Size: 1.5em;


// C O L O R S
$bleumarine : #0038bb;
$bleuvert: #48C2B5;
$grisfonce: #535353;
$grisclair: #cecece;
$gristresclair: #e5e5e5;
$orange: #FFB520;
$rouge: #FE414D;
