// numok
.template_container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;

  .publi_medias {
    position: relative;
  }

  $itemWidth: 33.333%;
  $gutter: 0px;

  .media {
    position: relative;
    float:left;
    width: $itemWidth;
    height: 0;
    padding-bottom: $itemWidth;
    margin-bottom: 0;
    overflow: visible;
    top: 0;
    left: 0;


    // pour l'animation des légendes
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    .mediaContent {
      border: none;
      max-height: none;
      position: absolute;
      bottom: $gutter; top: $gutter; left: $gutter; right: $gutter;
      overflow: hidden;

      img, video, audio {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    &:not([data-informations=""]) {

      .mediaContent {

        transform-style: preserve-3d;

        img, video, audio, .mediaData {
          position: absolute;
          top: 0; left: 0;
          bottom: 0;  right: 0;
          transition: all .45s ease-out;
        }

        // média
        img, video, audio {
          backface-visibility: hidden;

          z-index:  2;
          transform: rotateY(0deg);
        }

        // légende
        .mediaData {
          backface-visibility: hidden;
          background-color: #333;
          color: white;
          transform: rotateY(-180deg);
          overflow-y: auto;

          .mediaData--informations {
            padding-right: .9375rem * 3;
          }

        }

        // show a small hoverable croshair
        .showCaption {
          position: absolute;
          top: 0;
          right: 0;
          width: 30px;
          height: 30px;
          z-index: 150;
          padding: 0;
          font-weight: 600;
          background-color: transparent;
          font-size: 1rem;
          color: white;
          border-radius: 50%;
          background-color: #FF3E51;
          margin: 10px;

          transition: all .6s ease-out;
        }

        .showCaption.is--clicked {
          color: #FF3E51;
          background-color: white;
          + img, + video, + audio {
            transform: rotateY(180deg);
            opacity: 0;
          }
          ~ .mediaData {
            transform: rotateY(0deg);
          }
        }
      }
    }

    &.media_text .mediaContent {
      overflow: auto !important;
    }

  }

}

