// I M P O R T
@import (inline) "less/shoelace/variables.css";
@import (inline) "less/shoelace/forms.css";
@import (inline) "less/shoelace/tables.css";
@import "../../node_modules/vue2-animate/src/vue2-animate.less";

@import "less/_normalize";
@import "less/_variables";
@import "less/_globals";
@import "less/_fileupload";
@import "less/_media";
@import "less/_modal";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;

  &::-webkit-scrollbar {
    height: ((@scrollbar-padding * 2) + @scrollbar-height);
    width: ((@scrollbar-padding * 2) + @scrollbar-height);
    background-color: @c-gris_clair;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: @scrollbar-border solid rgba(255,255,255,0);
    border-radius: @scrollbar-border*4;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-bleuvert;
    &:hover {
      background-color: @c-bleumarine;
      border: @scrollbar-border solid rgba(255,255,255,0);
    }
  }

}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: @t-fontsize;
  line-height: @t-lineheight;

  position: relative;
  margin: 0;
  color: @c-noir;
  background-color: @c-body_bg;


  margin-top: @t-hauteur_topbar;
  &.has_systembar {
    margin-top: @t-systemBarHeight + @t-hauteur_topbar;
  }
}


/******************
  Mixins
  ********************/


body {
  &.is_unscrollable {
    // overflow: hidden;
  }
}


.alertify-logs {
  z-index: 20000;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: @t-skipline;
  padding-right: @t-skipline;

}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

#systemBar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: @t-systemBarHeight - 6px;
  .font-small;
  .text-centered;

  > .fixedBand {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    .border-bottom;

    height: @t-systemBarHeight;
    .bg-blanc;
    color: transparent;
    padding: 4px;
    z-index: 15000;
    overflow: hidden;

    transition: background-color .2s ease-out;

    &:hover {
      color: #333;
    }
  }

  .titleText {
  }
}

.m_topbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  height: @t-hauteur_topbar;
  overflow: hidden;
  .bg-blanc;
  margin-top: 0;
  .border-bottom;
  .boxs-card-0;
  
  body.has_systembar & {
    top: @t-systemBarHeight;
  }

  .flex-wrap;
  .flex-space-between;

  .m_logo {
    display: flex;
    height: 100%;
    width: auto;
    padding: @t-skipline/2 @t-skipline; 
    margin-left: 0;

    button {
      padding: 0 @t-skipline/2;
      color: @c-orange;
    }

    img {
      width: auto;
      height: 100%;
    }
  }    

  .m_topbar--pictos {
    .flex-wrap;
    justify-content: flex-end;
    align-items: center;
    .c-gris;

    > * {
      flex: 0 0 auto;
      width: auto;
      height: auto;
      padding: @t-skipline/2 @t-skipline @t-skipline/2 0;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
      }

      path {
        fill: @c-gris;
      }
    }
    
  }
}

.m_filterBar {
  max-height: @t-skipline*3;
  overflow: hidden;

  font-weight: 500;
  // font-size: 1.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;

  .bg-gris_clair;
  // .c-blanc;

  > * {
    flex: 1 1 0;
    padding: @t-skipline/2;
  }

  .m_filterBar--header {
    display: flex;
    align-items: center;
    svg {
      margin: @t-skipline/2;
    }
  }
}

.m_leftbar {


}


.createButton, .captureButton {
  @t-button_size: 4em;

  position: fixed;
  bottom: 8vmin;
  left: 8vmin;
  min-height: @t-button_size;
  border-radius: @t-button_size;
  .bg-rouge;
  font-weight: 400;

  transition: transform .2s ease-out;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0.3rem;
    filter: blur(0.5rem);
    opacity: .5;
    border-radius: @t-button_size;
    z-index: -1;
  }  

  &:hover {
    transform: scale(1.1);
  }

  span {
    padding: 0 @t-skipline/2;    
  }
}

.captureButton {
  .bg-orange;
}


@t-folderwidth: 360px;

.m_listview, .m_folderview {
  position: absolute;
  top:0;
  bottom: 0;
  .bg-creme;
  overflow-y: auto;

  width: 100%;
  height: ~"calc(100vh - @{t-hauteur_topbar})";
  body.has_systembar & {
    height: ~"calc(100vh - @{t-systemBarHeight} - @{t-hauteur_topbar})";
  }

  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;

  &::-webkit-scrollbar {
    height: ((@scrollbar-padding * 2) + @scrollbar-height);
    width: ((@scrollbar-padding * 2) + @scrollbar-height);
    background-color: @c-creme;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: @scrollbar-border solid rgba(255,255,255,0);
    border-radius: @scrollbar-border*4;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-noir;
    &:hover {
      background-color: @c-bleuvert;
      border: @scrollbar-border solid rgba(255,255,255,0);
    }
  }
}

.m_folders {
  .flex-wrap;
  // .flex-horizontally-start;
  .flex-space-between;

  > * {
    .margin-right-medium;
    flex: 0 1 auto;
  }

}

.m_folder {
  .bg-blanc;
  border-radius: @t-buttonradius;
  overflow: hidden;
  .margin-bottom-medium;
  .flex-wrap;
  .flex-space-between;
  border: 1px solid @c-gris_clair;
  

  .m_folder--presentation {
    flex: 0 1 @t-folderwidth;
    width: @t-folderwidth;
    
    img {
      width:100%;
      padding-bottom: 50%;
      height: 0;
      background-color: @c-gris;
    }

    // à l’intérieur d’une vue projet
    .m_folderview & {
      // margin: @t-skipline;
      border: 1px solid @c-gris_clair;
    }  

  }

  .m_folder--description {
    flex: 1 1 44ch;
    padding:  @t-skipline;
    border-left: 1px solid @c-gris_clair;
    border-bottom: 1px solid @c-gris_clair;
  }
  
  .m_folder--library {
    width: 100%;
    .bg-gris_clair;
  }

  .m_folder--library--medias {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 @t-skipline/2;

    > * {
      flex: 0 0 100/5%;
    }
  }

}

.m_media {
  position: relative;
  width: 100%;
  min-width: 200px;
  padding: 0 @t-skipline/2;

  figure {
    display: flex;
    flex-flow: column nowrap;
    .boxs-card-2;
    .bg-blanc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  

    &:hover {
      transform: translateY(-5px);
      .boxs-card-4;
    }
  }

  .mediaContainer {
    position: relative;
    
    @t-stripesWidth: 6px;
    @c-stripesCol: fade(@c-gris, 15%);

    background: 
    /* On "top" */
    repeating-linear-gradient(
      45deg,
      transparent,
      transparent @t-stripesWidth,
      @c-stripesCol @t-stripesWidth,
      @c-stripesCol @t-stripesWidth*2
    ),
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent @t-stripesWidth,
      @c-stripesCol @t-stripesWidth,
      @c-stripesCol @t-stripesWidth*2
    );

    &::after {
      content: '';
      display: block;
      width:100%;
      height: 0;
      padding-bottom: 66%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  figcaption {
    .padding-medium;
    .mediaTypeIcon {
      width: 24px;
      height: 24px;
    }

  }

}

.m_capture {

  .bg-gris_tresclair;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  .m_capture--modeSelector {
    flex: 0 0 auto;

    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: @t-skipline/2 0;

    button {
      .c-orange;      
    }

    > * {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
    }

    input {
      width: 0px; height: 0;
      visibility: hidden;
    }

    input:checked + label {
      .bg-orange;
      .c-blanc;
    }

    label { 
      .button;
      .button-inline;
      .bg-blanc;
      letter-spacing: 0;
      padding: 0 @t-skipline/4;        
      margin: 1vw 1vw;
      text-align: center;

      > * {
      }

      img {
        display: block;
        width: 36px;
        height: 36px;
        margin: @t-skipline/4 @t-skipline/4;        
      }
      span {
        display: block;
        font-weight: 400;
        text-transform: lowercase;
        margin: @t-skipline/4 @t-skipline/4;        
      }
    }
  }

  .m_capture--panels {
    position: relative;
    height: 100%;
    margin-bottom: @t-skipline*2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    > * {
      flex: 0 1 auto;
      transition: all .6s ease-out;
      overflow: auto;
      .boxs-card-0;
      .bg-blanc;
    }

    .m_panel {
      &:nth-child(1) {
        flex-basis: 70%;
      }
      &:nth-child(2) {
        flex-basis: 0;
        width: 0;
      }
    }

    &.is--justCaptured {
      .m_panel {
        &:nth-child(1) {
          flex-basis: 50%;
        }
        &:nth-child(2) {
          flex-basis: 40%;
          width: 0;
          margin-left: @t-skipline*2;
        }
      }
    }

  }

  .m_panel {
    display: flex;
    flex-flow: column nowrap;
  }

  .m_panel--previewCard {
    position: relative;
    width: 100%;
    height: 100%;
    .bg-noir;

    > video {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
  .m_panel--buttons {
    flex-shrink: 0;
    min-height: 100px;
    display: flex;
    justify-content: center;

    img {
      width: 48px;
      height: 48px;
    }
  }

}

.alertify-logs>*, .alertify-logs>.default {
  background-color: @c-gris;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}


.m_footer {
  color: @c-gris;
  width: 100%;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 100px;
    border-top: 2px solid @c-gris_clair;
  }

  > * {
  }
}



// .fade-enter-active, .fade-leave-active {
//   opacity: 1;
//   transition: opacity .2s ease-out;
// }
// .fade-enter, .fade-leave-to {
//   opacity: 0;
//   transition: opacity .2s ease-out;
// }


.mediareveal-enter-active, .mediareveal-leave-active {
  opacity: 1;
  transition: opacity .4s ease-out;
}
.mediareveal-enter, .mediareveal-leave-to {
  opacity: 0;
  transition: none;
}


.modal-enter-active, .modal-leave-active {
  opacity: 1;
  // transform: translateY(0) scale(1);
  transition: all .2s ease-out;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
  // transform: translateY(10px) scale(1.02);
  transition: all .2s ease-out;
}

.list-complete-move {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}