// I M P O R T
@import (inline) "less/shoelace/variables.css";
@import (inline) "less/shoelace/forms.css";
@import (inline) "less/shoelace/tables.css";
@import "../../node_modules/vue2-animate/src/vue2-animate.less";

@import "less/_normalize";
@import "less/_variables";
@import "less/_globals";
@import "less/_fileupload";
@import "less/_media";
@import "less/_modal";

::-moz-selection {
    background: rgba(151, 151, 151,0.25);
}
::selection {
    background: rgba(151, 151, 151,0.25);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;

  &::-webkit-scrollbar {
    height: ((@scrollbar-padding * 2) + @scrollbar-height);
    width: ((@scrollbar-padding * 2) + @scrollbar-height);
    background-color: @c-gris_clair;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: @scrollbar-border solid rgba(255,255,255,0);
    border-radius: @scrollbar-border*4;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-bleuvert;
    &:hover {
      background-color: @c-bleumarine;
      border: @scrollbar-border solid rgba(255,255,255,0);
    }
  }

}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  margin: 0;

  font-size: @t-fontsize;
  line-height: @t-lineheight;
  color: @c-noir;
  background-color: @c-body_bg;

  margin-top: @t-hauteur_topbar;
  &.has_systembar {
    margin-top: @t-systemBarHeight + @t-hauteur_topbar;
  }
}


/******************
  Mixins
  ********************/


body {
  &.is_unscrollable {
    // overflow: hidden;
  }
}


.alertify-logs {
  z-index: 20000;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: @t-skipline;
  padding-right: @t-skipline;

}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

#systemBar {
  height: @t-systemBarHeight - 6px;
  .font-small;
  .text-centered;
  position: fixed;
  top: 0;
  width: 100%;

  > .fixedBand {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    .border-bottom;

    height: @t-systemBarHeight;
    .bg-blanc;
    color: transparent;
    padding: 4px;
    z-index: 15000;
    overflow: hidden;

    transition: background-color .2s ease-out;

    &:hover {
      color: #333;
    }
  }

  .titleText {
  }
}

.m_topbar {
  height: @t-hauteur_topbar;
  overflow: hidden;
  .bg-blanc;
  margin-top: 0;
  .border-bottom;
  position: fixed;
  width: 100%;
  top: 0;

  body.has_systembar & {
    top: @t-systemBarHeight;
  }

  .flex-wrap;
  .flex-space-between;

  .m_logo {
    display: block;
    height: 100%;
    width: auto;
    padding: @t-skipline/2 @t-skipline; 
    margin-left: 0;

    img {
      width: auto;
      height: 100%;
    }
  }    

  .m_topbar--pictos {
    .flex-wrap;
    justify-content: flex-end;
    align-items: center;
    .c-gris;

    > * {
      flex: 0 0 48px;
      height: 48px;
      padding: @t-skipline/2 @t-skipline;
      path {
        fill: @c-gris;
      }
    }
    
  }
}

.m_filterBar {
  max-height: @t-skipline*3;
  overflow: hidden;

  font-weight: 500;
  font-size: 1.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;

  > * {
    flex: 1 1 0;
    padding: @t-skipline/2;
  }

  .m_filterBar--header {
    display: flex;
    align-items: center;
    svg {
      margin: @t-skipline/2;
    }
  }
}

.m_leftbar {


}


.createButton {
  @t-button_size: 4em;

  position: fixed;
  bottom: 8vmin;
  left: 8vmin;
  min-height: @t-button_size;
  border-radius: @t-button_size;
  .bg-rouge;
  // background: linear-gradient( 310deg, @c-rouge, @c-orange);

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0.3rem;
    filter: blur(0.3rem);
    opacity: 0.7;
    border-radius: @t-button_size;
    z-index: -1;
  }  
}


@t-folderwidth: 360px;

.m_listview {
  .bg-creme;
  overflow-y: auto;

  max-height: ~"calc(100vh - @{t-hauteur_topbar})";
  body.has_systembar & {
    max-height: ~"calc(100vh - @{t-systemBarHeight} - @{t-hauteur_topbar})";
  }

  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;

  &::-webkit-scrollbar {
    height: ((@scrollbar-padding * 2) + @scrollbar-height);
    width: ((@scrollbar-padding * 2) + @scrollbar-height);
    background-color: @c-gris_clair;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: @scrollbar-border solid rgba(255,255,255,0);
    border-radius: @scrollbar-border*4;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-bleuvert;
    &:hover {
      background-color: @c-bleumarine;
      border: @scrollbar-border solid rgba(255,255,255,0);
    }
  }
  
}

.m_folders {
  .flex-wrap;
  // .flex-horizontally-start;
  .flex-space-between;

  > * {
    .margin-right-medium;
    flex: 0 1 @t-folderwidth;
  }

}

.m_folder {

  .bg-blanc;
  width: @t-folderwidth;
  border-radius: @t-buttonradius;
  overflow: hidden;
  .margin-bottom-medium;

  .m_folder--presentation {

    img {
      width:100%;
      padding-bottom: 50%;
      height: 0;
      background-color: @c-gris;
    }
  }
  

  .m_folder--library {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 0 0 100/6%;
    }
  }
}

.m_media {
  position: relative;
  width: 100%;

  .bg-gris_clair;
  border: 1px solid white;

  &::after {
    content: '';
    display: block;
    width:100%;
    height: 0;
    padding-bottom: 100%;
  }

  .mediaContainer {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .m_media--open {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  


}

.alertify-logs>*, .alertify-logs>.default {
  background-color: @c-gris;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}


.m_footer {
  color: @c-gris;
  width: 100%;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 100px;
    border-top: 2px solid @c-gris_clair;
  }

  > * {
  }
}



.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity .2s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: opacity .2s ease-out;
}


.mediareveal-enter-active, .mediareveal-leave-active {
  opacity: 1;
  transition: opacity .4s ease-out;
}
.mediareveal-enter, .mediareveal-leave-to {
  opacity: 0;
  transition: none;
}


.modal-enter-active, .modal-leave-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all .2s ease-out;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
  transform: translateY(10px) scale(1.02);
  transition: all .2s ease-out;
}

.list-complete-move {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}