// I M P O R T
@import (inline) "less/shoelace/variables.css";
@import (inline) "less/shoelace/forms.css";
@import (inline) "less/shoelace/tables.css";
@import "../../node_modules/vue2-animate/src/vue2-animate.less";

@import "less/_normalize";
@import "less/_variables";
@import "less/_globals";
@import "less/_fileupload";
@import "less/_media";
@import "less/_modal";

::-moz-selection {
  background: rgba(151, 151, 151,0.25);
}
::selection {
  background: rgba(151, 151, 151,0.25);
}

* {
  box-sizing: border-box;
}


html {

  @scrollbar-height: 8px;
  @scrollbar-padding: 5px;
  @scrollbar-border: 6px;

  .custom_scrollbar(8px, 5px, 6px);
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);

  .bg-creme;
  color: @c-noir;

  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  &.has_systembar {
    margin-top: @t-systemBarHeight;
  }

  @media screen and (max-width: 50rem) {
    margin-top: 0 !important;
    overflow-y: auto;
  }
  html.touchevents & {
    margin-top: 0 !important;
    overflow-y: auto;
  }
}

body {
  &.is_unscrollable {
    overflow: hidden !important;
  }
}

.alertify-logs {
  z-index: 20000;
}

.container {
  max-width: 1490px;
  width: 100%;
  margin: 0 auto;
  .padding-sides-small;
  .padding-vert-medium;
}

/************************************************************************

      APP

************************************************************************/

#app {
  width: 100%;
  margin: 0 auto;
}

#systemBar {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: @t-systemBarHeight - 6px;
  .font-small;
  .text-centered;

  > .fixedBand {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    .border-bottom;
    font-style: italic;

    height: @t-systemBarHeight;
    .bg-blanc;
    font-weight: 300;
    color: @c-noir;
    // color: transparent;
    padding: 2px;
    z-index: 15000;
    overflow: hidden;

    transition: background-color .2s ease-out;

    &:hover {
      color: #333;
    }
  }

  // .titleText {
  // }
}

.m_topbar {
  position: relative;
  z-index: 10;
  width: 100%;
  top: 0;
  min-height: @t-hauteur_topbar;
  overflow: hidden;
  .bg-blanc;
  margin-top: 0;
  .border-bottom;
  .boxs-card-0;
  .flex-wrap;

  body.has_systembar & {
    margin-top: @t-systemBarHeight;
  }

  > * {
    min-width: 180px;
    flex: 1 1 0;
    
    &.m_topbar--center {
      min-width: 240px;
      max-width: 240px;
    }
  }  

  .m_topbar--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .m_topbar--left--logo {
      width: auto;
      margin-left: 0;
      height: @t-hauteur_topbar;  
      cursor: pointer;    
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      > * {
        flex: 0 0 auto;
      }

      .backButton {
        display: block;

        color: #fff;
        background-color: @c-gris_fonce;
        border-radius: 0 6px 6px 0;

        width: 36px;
        height: 48px;
        padding: 0;
        margin: 0;
        font-size: 1.4em;
        font-weight: 200;
        text-align: center;
        
      }
  
      img {
        padding: @t-skipline/2 @t-skipline/2; 
        display: block;
        width: 180px;
        height: 100%;
      }
    }

    .m_topbar--left--breadcrumb {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      align-items: center;
      
      button {
        position: relative;
        display: block;
  
        background-color: #B9B9B9;
        text-align: left;
        margin: 0;
  
        pointer-events: auto;
        transition: border-radius .4s;
        font-size: 1rem;
        line-height: 1.1;
        cursor:normal;
  
        background-color: transparent;
        color: white;
        padding: 10px;
        transition: color .2s;
  
        &::after {
          content: ' ';
          position: absolute;
          left: 5px;
          right: 0;
          // width:5px;
          top: 5px;
          bottom: 5px;
          -webkit-transition: all .1s;
          z-index: -1;
          -webkit-transform: skewX(-16deg) skewY(0);
          -ms-transform: skewX(-16deg) skewY(0);
          -o-transform: skewX(-16deg) skewY(0);
          transform: skewX(-16deg) skewY(0);
          background-color: @c-rouge;
          border-radius: 4px;
          transition: background-color .2s;
        }
        &:hover {
          color: @c-rouge;
        } 
        &:hover::after {
          background-color: #fff;
        }

        span {
          display: block;
          padding-left: 10px;
          padding-right: 5px;
          pointer-events: none;   
          text-transform: initial;
          letter-spacing: 0.02em;
          font-style: italic;
          font-weight:400;   
        }

        &:nth-child(2) {

          &::after {
            background-color: @c-orange;
          }
          &:hover {
            color: @c-orange;
          }           
          &:hover::after {
            background-color: #fff;
          }
        }
  
      }

    }  
  }    
  .m_topbar--center {
    display: flex;
    justify-content: center;
    align-items: center;

    .m_topbar--center--authors {

      button {
        position: relative;
        padding: 0;
        padding-left:0;
        min-height: 0;
        display: flex;
        align-items: center;

        .bg-blanc;
        // border: 2px solid @c-bleumarine;
        // color: @c-bleumarine;
        background-color: @c-bleumarine;
        color: #fff;
        .padding-verysmall;

        .m_topbar--center--authors--portrait {
          width: 40px;
          height: 40px;
          margin-right: 10px;
          position: relative;
          border-radius: 50%;
          background-color: red;
          overflow: hidden;
          display: flex;
          align-items: center;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .m_topbar--center--authors--name {
          font-size: 1.7em;
          font-weight: 200;
          text-transform: uppercase;
        } 
      }

    }

  }
  .m_topbar--right {
    .m_topbar--right--pictos {
      .flex-wrap;
      justify-content: flex-end;
      align-items: center;
      .c-gris;
      padding-left: @t-skipline/2;
      padding-right: @t-skipline/2;
      height: 100%;

      > * {
        flex: 0 0 auto;
        width: auto;
        height: auto;
        padding: @t-skipline/2 @t-skipline/2;
        cursor: pointer;
        .bg-blanc;

        svg {
          width: 100%;
          height: 100%;
        }

        path {
          fill: @c-gris;
        }
      }
    }
  }
}

.m_authorsList {
  display: flex;
  flex-flow: row wrap;

  button {
    .margin-medium;
    .bg-gris_tresclair;
    width: 200px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight:200;

    &.is--selected {
      background-color: @c-bleumarine_clair;
      color: @c-bleumarine;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    span {
      display: block;
      .padding-sides-small;
      .font-large;
    }
  }

}

.m_filterBar {
  max-height: @t-skipline*3;
  overflow: hidden;

  font-weight: 500;
  // font-size: 1.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;

  .bg-gris_clair;
  // .c-blanc;

  > * {
    flex: 1 1 0;
    padding: @t-skipline/2;
  }

  .m_filterBar--header {
    display: flex;
    align-items: center;
    svg {
      margin: @t-skipline/2;
    }
  }
}

.createButton, .captureButton, .publiButton {
  @t-button_size: 3em;

  position: fixed;
  z-index: 1000;
  bottom: 5vmin;
  left: 5vmin;
  min-height: @t-button_size;
  border-radius: @t-button_size;

  .button-inline;

  .bg-rouge;
  .c-blanc;
  box-shadow: 0 6px 0 @c-rouge_fonce;
  font-weight: 400;

  transition: all .2s ease-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 0 @c-rouge_fonce;
  }

  span {
    padding: @t-skipline/4;    
  }
}

.captureButton {
  .bg-orange;
  box-shadow: 0 6px 0 @c-orange_fonce;
  &:hover {
    box-shadow: 0 10px 0 @c-orange_fonce;
  }
}

.publiButton {
  left: auto;
  right: 5vmin;  
  .bg-bleuvert;

  box-shadow: 0 6px 0 @c-bleuvert_fonce;
  &:hover {
    box-shadow: 0 10px 0 @c-bleuvert_fonce;
  }
}


/**********************************************************************
                              MAIN VIEWS
**********************************************************************/

.m_activitiesPanel {
  position: relative;
  width: 100%;
  height: ~"calc(100vh - @{t-hauteur_topbar} - 1px)";

  body.has_systembar & {
    height: ~"calc(100vh - @{t-systemBarHeight} - @{t-hauteur_topbar} - 1px)";
  }

  @media screen and (max-width: 50rem) {
    height: auto !important;
  }
  html.touchevents & {
    height: 100%;
  }

  display: flex;
  flex-flow: row nowrap;

  > * {
    flex: 1 1 auto;
  }

  .m_activitiesPanel--do {
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
  }

  .m_activitiesPanel--doc {
    flex-basis: 32cm;
    position: relative;
    overflow: hidden;
    background-color: @c-bleuvert_fonce;
  }

}


.m_listview, .m_projectview, .m_captureview, .m_publicationsview, .m_publicationview {
  position: absolute;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .bg-creme;
  width: 100%;
  height: 100%;

  // fix for chrome on tablets, where vh are not calculated right
  // padding-bottom: 50px;

  @media screen and (max-width: 50rem) {
    position: relative;
    height:auto !important;
    overflow: auto;
  }
  html.touchevents & {
    position: relative;
    height:auto !important;
    overflow: auto;
  }
  

  .custom_scrollbar(8px, 5px, 6px);
}

.m_publicationsview, .m_publicationview {
  .bg-bleuvert;
}

.m_projects {
  .flex-wrap;
  .flex-horizontally-start;
  align-items: flex-start;

  > * {
    .margin-sides-small;
    flex: 0 1 auto;
    .margin-bottom-large;
  }

  .m_project {
    border-bottom: 2px solid @c-gris;   
    // border-bottom-style: dashed;
    border-radius: @t-buttonradius;
  }

  .m_project--presentation--vignette {
    cursor: pointer;
  }
  .m_project--presentation--text {
    h2 {
      cursor: pointer;
    }
  }

}

.m_project {
  .bg-blanc;
  border-radius: 0px;
  overflow: hidden;
  .flex-wrap;
  .flex-space-between;
  
  @t-folderwidth: 340px;
  
  .m_project--presentation {
    position: relative;
    z-index: 0;
    flex: 0 1 @t-folderwidth;
    width: @t-folderwidth;
    
    .m_project--presentation--vignette {
      position: relative;
      width:100%;
      background-color: @c-gris;
      overflow: hidden;
      max-height: 60vh;

      // img {
      // }
    }

    .m_project--presentation--text {
      .m_project--presentation--text--title {
        .margin-sides-medium;
        .margin-vert-small;
        .font-folder_title;
      }

      .m_project--presentation--text--infos {
        .margin-sides-medium;
      }
    }

    .m_project--presentation--buttons {
      .margin-small;
      .flex-wrap;
      .flex-no-grow;
      .flex-horizontally-centered;     
    }


  }

  .m_project--favMedias {
    flex: 1 1 0;
  }
  
  .m_project--library {
    width: 100%;
    .bg-gris_clair;

    .m_project--library--actionbar {
      .margin-bottom-small;
      .padding-sides-small;
      .margin-sides-small;
      border-bottom: 2px solid #fff;
      display: flex;
      flex-flow: row wrap;

      .barButton {
        margin: 0;
        .margin-small;
        margin-left: 0;
        min-height: 0;

        background-color: #fff;
        color: @c-rouge;

        border-radius: 4px;

        display: flex;
        flex-flow: row wrap;
        align-items: center;

        > span {
          .padding-vert-small;
        }
        

        &::before {
          content:'';
          display: block;
          width:  28px;
          height: 28px;
          padding-right: 4px;
        }

        &.barButton_text {
          color: @c-bleumarine;
          &::before {
            background-image: url("/images/i_text.svg");          
          }
        }
      }

      .dz-message {
        .barButton;
        &::before {
          background-image: url("/images/i_importer.svg");          
        }
      }

    }
  }

  .m_project--favMedias {
    width: 100%;
    background-color: @c-gris_tresclair;
    padding: 0;
    .padding-vert-medium;
    
    .m_project--favMedias--list {
      display: flex;
      flex-flow: row wrap;   
      .padding-sides-small;

      > * {
        flex: 0 0 100/3%;
      }
    }
  }

  .m_project--library--medias {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .padding-sides-small;
    padding-bottom: 250px;

    > * {
      flex: 0 0 100/5%;
    }
  }

}

.m_qrSnippet {

  .m_qrSnippet--text {
    .button;
    .margin-small;
    margin-bottom: 0;
    .padding-small;
    .bg-blanc;
  }

  .m_qrSnippet--motif {
    width: 100%;
    .margin-small;
    canvas {
      .button;
      .bg-gris_tresclair;
      .padding-verysmall;
      .bg-blanc;
      width: 100%;
    }
  }
}

.m_media {
  position: relative;

  width: 100%;
  min-width: 180px;
  padding: 0 @t-skipline/2;

  > * {
    // height: 0;
    // padding-bottom: 100%; 
    .margin-vert-small;
  }

  figure {
    position: relative;
    margin: 0;
    overflow: visible;
    min-height: 100px;

    display: flex;
    flex-flow: column nowrap;

    cursor: pointer;
    .bg-blanc;
    border-radius: 4px;
    border-bottom: 2px solid @c-gris;   

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);  

    &.is--hovered {
      transform: translateY(-5px);
      .boxs-card-4;
      z-index: 1;
    }

    .mediaContainer {
      position: relative;
      .margin-small;
      .bg-gris_tresclair;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        width:100%;
        height: 0px;
        padding-bottom: 100%;
      }

      > * {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        object-fit: contain;
      }
      
      audio {
        height: 50px;
      }
      p, pre {
        white-space: pre;
        &:first-child {
          margin-top: 0;
        }        
      }
    }

    figcaption {
      position: absolute;
      top: 95%;
      width: 100%;
      .padding-small;
      .bg-blanc;
      .boxs-card-4;

      .mediaTypeIcon {
        width: 24px;
        height: 24px;
      }
    }

    nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .padding-small;
    }
  }
}

.m_metaField {
  position: relative;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;

  color: @c-noir;
  border-bottom: 1px dashed @c-gris; 
  border-radius: 2px; 

  .margin-bottom-small;

  > *:first-child {
    .label;
  }

  > *:nth-child(2) {
    .label;
    text-transform: initial;
    font-weight: 400;
  }


  &:last-child {
    margin-bottom: 0;
  }

}

.m_captureview {

  .m_captureview--modeSelector {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: @t-skipline/2 0;

    button {
      .c-orange;      
    }

    > * {
      flex: 0 0 auto;
      display: flex;
      flex-flow: row wrap;
      font-family: inherit;
    }

    input {
      width: 0px; height: 0;
      visibility: hidden;
    }

    input:checked + label {
      .bg-orange;
      .c-blanc;
    }

    label { 
      .button;
      .button-inline;
      .bg-blanc;
      letter-spacing: 0;
      padding: 0 @t-skipline/4;        
      margin: 1vw 1vw;
      text-align: center;


      // > * {
      // }

      img {
        display: block;
        width: 36px;
        height: 36px;
        margin: @t-skipline/4 @t-skipline/4;        
      }
      span {
        display: block;
        font-weight: 400;
        text-transform: lowercase;
        margin: @t-skipline/4 @t-skipline/4;        

        @media screen and (max-width: 50rem) {
          display: none;
        }        
      }
    }
  }

  .m_captureview--panels {
    position: relative;
    height: auto;
    margin-bottom: @t-skipline*2;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    > * {
      flex: 0 1 auto;
      transition: all .15s ease-out;
      overflow: auto;
      .boxs-card-0;
      .bg-blanc;
    }

    .m_panel {
      min-width: 300px;
      &:nth-child(1) {
        flex-basis: 70%;
      }
      &:nth-child(2) {
        flex-basis: 0;
        width: 0;
        min-width: 0;
      }
    }

    &.is--justCaptured {
      .m_panel {
        &:nth-child(1) {
          flex-basis: 50%;
        }
        &:nth-child(2) {
          min-width: 300px;
          flex-basis: 40%;
          width: 0;
          margin-left: @t-skipline*2;
        }
      }
    }
  }

  .m_captureview--options {
    display: flex;
    flex-flow: row wrap;

    > * {
      flex: 1 1 300px;
    }
  }

  .m_panel {
    display: flex;
    flex-flow: column nowrap;
    height: ~"calc(100vh - 105px - 80px - 40px)";
    min-height: 300px;
  }

  .m_panel--previewCard {
    position: relative;
    width: 100%;
    height: 100%;
    .bg-noir;

    // left panel
    video, canvas, img, #vectoContainer, .mediaContainer, audio {
      position: absolute;
      object-fit: contain;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    > canvas {
      image-rendering: pixelated;
    }

    #vectoContainer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;      
    }

    // right panel
    .mediaContainer {
      overflow: hidden;
      audio {
        height: 50%;
      }

    }
  }
  .m_panel--buttons {
    flex-shrink: 0;
    min-height: 80px;
    min-height: 10vh;
    display: flex;
    justify-content: center;

    img {
      width: 48px;
      height: 48px;
    }

    button {
      background-color: transparent;
    }
  }

}


.m_imageselect {
  width: 100%;

  .m_imageselect--input {    
  }
  .m_imageselect--image {
    .bg-gris_clair;
    border-radius: 6px;
    overflow: hidden;
    border-bottom: solid var(--input-border-width) var(--input-border-color);

    img {
      width: 100%;
      // margin-bottom: @t-skipline;
    }

    button {
      .margin-small;
    }
  }
}


.m_publicationMeta {
  width: 320px;
  .bg-blanc;
  .margin-medium;
  .padding-medium;
}
.m_publicationFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  .padding-bottom-medium;
}

.m_publicationview {
  .m_publicationview--pages {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    > * {
      flex: 0 0 auto;
    }
  }

  .m_publicationview--pages--page {
    position: relative;
    .margin-vert-medium;
    .bg-blanc;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,.2);

    &.is--active {

      &::before {
        content: '>';
        
        display: block;
        position: absolute;
        right: ~"calc(100% + 4px)";
        height: 100%;
        width: 40px;
        color: @c-rouge;
        border-right: 5px solid currentColor;

        font-family: 'Fira Mono';
        font-weight: 500;

        font-size: 4em;

        display: flex;
        align-items: center;
      }
    }

    .m_publicationview--pages--page--margins_rule {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: @c-gris;

      &:nth-child(1) {
        left: var(--margin_x);
      }
      &:nth-child(2) {
        right: var(--margin_x);
      }
      &:nth-child(3) {
        top: var(--margin_x);
        width: 100%;
        height: 1px;
      }
      &:nth-child(4) {
        bottom: var(--margin_x);
        width: 100%;
        height: 1px;
      }
    }
  }  
}

.ql-toolbar button {
  min-height: 0;
}
.ql-toolbar.ql-snow {
  .bg-blanc;
}

.m_mediaPublication {
  position: absolute;
  cursor: -webkit-grab;
  user-select: none;

  transition: transform .4s ease-out;

  &.is--dragged {
    transition: none;
  }

  // PUBLI STYLE !
  @import "less/_publi-journal";

  .mediaContainer {
    overflow: hidden;
    height: 100%;
    width: 100%;
    .bg-blanc;

    p {
      width: 100%;   
      white-space: pre-wrap;   
    }

    img {
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .resizeFrame {
    @t-borderSize: 4px;
    @t-handleSize: 24px;

    position: absolute;
    top: -@t-borderSize/2;
    left: -@t-borderSize/2;
    right: -@t-borderSize/2;
    bottom: -@t-borderSize/2;
    z-index: 1;

    color: @c-noir;
    border: @t-borderSize dashed currentColor;
    transition: border .2s;
  
    .is--hovered& {
      color: @c-gris_fonce;
    }
    .is--dragged& {
      color: @c-rouge;
    }
    .is--waitingForServerResponse& {
      color: @c-gris;
    }
  
    .handle {
      position: absolute;
      z-index: 1;
      width: @t-handleSize;
      height: @t-handleSize;

      border: @t-borderSize dashed currentColor;
      background-color: white;
      border-radius: 50%;
      cursor: nwse-resize;
    }
    .handle_bottomright {
      bottom: -@t-handleSize/2;
      right: -@t-handleSize/2;
      cursor: nwse-resize;
    }  
  }

  .m_mediaPublication--caption {
    font-family: 'Fira Mono';
    font-size: 10pt;
    margin-top: 0.5em;    
  }

  .m_mediaPublication--buttons {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;

    display: flex;
    justify-content: flex-end;

    > * {
      color: inherit;
      .bg-blanc;
    }
  }

}




.alertify-logs>*, .alertify-logs>.default {
  background-color: @c-gris;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}


.m_footer {
  color: @c-gris;
  width: 100%;
  text-align: center;

  &::before {
    content: '';
    display: inline-block;
    position: relative;
    width: 100px;
    border-top: 2px solid @c-gris_clair;
  }

}



.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity 1s linear;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  transition: opacity 1s linear;
}


.list-complete-move {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

.ListView-enter-active, .ListView-leave-active {
  opacity: 1;
  transform: scale(1);
  transition: all .5s linear;
}
.ListView-enter, .ListView-leave-to {
  opacity: .4;
  transform: scale(0.95);
  transition: all .5s linear;
}

.ProjectView-enter-active, .ProjectView-leave-active {
  transform: translateY(0);
  transition: transform .5s cubic-bezier(.25,.8,.25,1);
}
.ProjectView-enter, .ProjectView-leave-to {
  transform: translateY(100vh);
  transition: transform .5s cubic-bezier(.25,.2,.25,1);
}

.CaptureView-enter-active, .CaptureView-leave-active {
  transform: translateX(0);
  transition: transform .5s cubic-bezier(.25,.8,.25,1);
}
.CaptureView-enter, .CaptureView-leave-to {
  transform: translateX(-100vw);
  transition: transform .5s cubic-bezier(.25,.2,.25,1);
}

.popUp-enter-active, .popUp-leave-active {
  transform: translate3d(0, 0, 0);
  transition: transform 1s cubic-bezier(.25,.2,.25,1);
}
.popUp-enter, .popUp-leave-to {
  transform: translate3d(0, 150px, 0);
  transition: transform 1s cubic-bezier(.25,.2,.25,1);
}


@media print {
  .m_topbar,
  .m_activitiesPanel--do,
  .m_publicationMeta,
  .m_publicationFooter,
  .resizeFrame,
  .publiButton {
    display: none !important;
  }

  .m_activitiesPanel {
    height: auto !important; 
  }

  .m_publicationview {
    position: relative;
    height: auto;
  }

  .m_publicationview--pages--page {
    margin: 0 !important;
  }
}