.m_modal,.m_modal-content {
  display: none;
}

.m_modal-bg {
  display: none;
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 1004;
}


.m_modal {
  position: fixed;
  top:0; left: 0; right: 0; bottom: 0;
  z-index: 1100;

  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: transparentize( $c-creme, .1);

  &:focus {
    outline: none;
  }

  .m_modal-content {
    position: relative;
    margin-top: 30vh;
    margin-bottom: 20vh;
    padding: $t-margin;
    width: 100%;
    max-width: 380px;

    background-color: white;
    box-shadow: 0 5px 15px $c-gris;
    pointer-events: auto;

    &.is--limitedWidth {
      max-width: 1024px;
    }

    &.is--fullPage {

      position: absolute;
      margin: 3vw;
      padding: 0;

      top: 0;
      left: 0;
      right: 0;
      width: auto;
      max-width: none;

      min-height: 90vh;
      min-height: calc(100vh - #{$t-margin*6});

      .button-wrapper {
        z-index: 1000;
        span {
        }
      }
    }
  }

  .button-wrapper {
    margin: 0px 0px $t-margin;
  }

  .button-wrapper_close {
    position: absolute;
    top: -$t-buttonSize/2;
    right: -$t-buttonSize/2;
  }

  .button-wrapper_valider.button-wrapper_valider {
    float: right;
    margin-bottom: 0;
  }

  .modal_title {
    margin: 0;
    width:  90%;
    margin-bottom:  $t-margin/2;
  }

  a {
    text-decoration-line: underline;
  }

  > p {
    width:  80%;
  }

  button {
    margin-bottom: 0;
  }

  .legende {
    padding: $t-margin/2;
  }

  .modal--QR {
    width: 100%;
    background-color: $c-gris_clair;
    object-fit: contain;
    padding: 25px;
  }

  .templateSelector {

    @include clearfix();
    text-align: left;
    padding: 0;
    background-color: $c-gris_clair;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      position: relative;
      float: left;
      width: 33.333%;
      vertical-align: top;
      padding: 0;
      padding: $t-margin/2;
      color: $c-gris_fonce;

      cursor: pointer;

      &:nth-of-type(3n+1){
        clear: left;
      }

      span {
        display: block;
        width: 100%;
        padding: $t-margin/4;
        background-color: $c-orange-clair;
        text-transform: lowercase;
        text-align: center;
      }

      input:checked {
        & ~ span {
          background-color: $c-orange;
        }

        & ~ svg {
          #fond > * {
              fill: $c-orange;
          }
          #modules > * {
            fill: $c-bleumarine;
          }
        }
      }

      svg {
        position: relative;

        #fond * {
          fill: $c-orange-clair;
        }
      }
    }

  }


/*
  .button-wrapper_highlightMedia{
    color:$c-bleuvert;
    background-color: transparent;
  }
*/
  .is--highlight {
    .button-wrapper_highlightMedia{
/*
      color: white;
      background-color: $c-bleuvert;
*/
    }
  }

}

::-webkit-input-placeholder {
  color: #bbb;
}

select {
  border-bottom: 2px solid $c-gris;
}

.alertify-logs {
  font-weight: 500;
  z-index:  15000;
  pointer-events: none;

  >.show {
    margin-right:   16px;
    background-color: white;
    color: $c-bleuvert;
    border: 3px solid currentColor;
    pointer-events: auto;
  }

  >.error {
    color:$c-rouge;
  }

  a {
    font-weight: inherit;
    background-color: #4BC0B4;
    padding: 3px 4px;
    border-radius: 6px;
    color: white;

    &:hover {
      color: currentColor;
      background-color: white;
    }
  }
}

/*************************************************************************************
                                POPOVER ITEMS
*************************************************************************************/

.big-mediaContent {
  height: 100%;
  width: 100%;
  // to animate the fade in of elements
  transition: opacity .1s;

  .row {
    max-width: 100%;
  }

  .media-big {
    height: 100%;
    width: 100%;

    .mediaContent {
      // needs to stretch to contain all things wihout inner scroll
      min-height: 90vh;
      min-height: calc(100vh - #{$t-margin*6});
      padding: $t-margin;

      img, video {
        min-width: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: $c-gris_clair;
        height: calc(100vh - #{$t-margin*8});
      }
    }
    .mediaDataForm {
      padding: $t-margin;
    }


    .button-wrapper_deleteMedia {
      display: block;
    }

    &.media-big_audio {
      img {
//         height: 100%;
      }
      audio {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
      }
    }
    &.media-big_text {
      textarea {
        height: 45vh;
      }
    }
  }

}


// nav items (arrows) on the side of the big-media pop-up
.big-mediaNav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;

  .big-mediaNav-arrow {
    position: absolute;
    top:45%;
    pointer-events: auto;
    padding: $t-margin $t-margin;
    vertical-align: baseline;

    font-size: 1em;
    color: $c-orange;
    background-color: white;
    box-shadow: 0 5px 20px $c-gris;

    transform-origin: center center;

    opacity: 1;
    transition: transform .4s, border-color .5s, opacity .4s, background-color .1s;

    &.is--disabled {
      opacity: 0;
      pointer-events: none;
      transform: rotate(0deg);
    }
    &.is--active {
      background-color: $c-orange;
    }
    &:hover {
    }
  }

  .big-mediaNav-arrow_left {
    left: 0;
  }
  .big-mediaNav-arrow_right {
    right: 0;
  }

}



