
@media print {
  @page {
    margin: .5cm 0.5cm;
    size: 21.0cm 29.7cm;
  }
  body.publi {
    zoom: 0.68;

    .js--makePDF, .js--makeWebsite, .js--openModal_editPubli, .publi-btn {
      display: none !important;
    }

    .navbar-container {
      min-height: 40px;
      .navbar {
        padding: 0px;
        margin: 0cm 0;
        min-height: 40px;
        box-shadow: none;

        > * {
          display: inline-block;
          vertical-align: bottom;
          float:none;
        }

        .item {
          height: 20px;
          margin: 10px 17px;
        }

        .logo {
          margin:0;
          width: 7cm;
          padding: 5px;
          padding-right: 0;

          text-align: right;

          svg {
            margin-right: 0;
            margin-left: auto;
          }
        }

        .button-wrapper{
          font-size:0.8em;
          width:auto;
          padding:0;
          padding-bottom: 5px;

          span {
            position: relative;
            top: auto;
            left: auto;
            transform: none;

          }

          &::after {
            border-radius: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: none;
          }
        }

        .button-wrapper_dossier {
          color: $c-dossier;
          &::after {
            border-bottom: 2px solid currentColor;
            background-color: transparent;
          }
        }
        .button-wrapper_projet {
          color: $c-projet;
          &::after {
            border-bottom: 2px solid currentColor;
            background-color: transparent;
          }
        }
      }
    }

    .template_container {
      width: 14cm;
      margin-left:7cm;
      box-shadow: none;

      .publi-title {
        float: none;
      }

      // premier HR, juste sous le titre
      > hr {
        display: none;
      }

      .publi_medias {
        h2 {
        }

        .mediaData {
          position: absolute;
          right: 100%;
          width: 6cm;
          padding-right: .5cm;
          top: 0;

          .mediaData--informations {
            font-size: 70%;
            text-align: right;
            background-color: transparent;
          }
        }



      }

    }

/*
    .navbar-container{display:none;}
    .publi-container {
      margin-top: 0;
      margin-bottom: 0;
      &[data-template="basic"]{
        max-width: 50%;
        h3.legende{display:none;}
        .media .mediaContent{
          border:none;
          padding: 0;
        }
        .mediaData--informations{
          padding-left:0;
        }
      }
    }
*/
  }

  .module_infos {
    display: none !important;
  }
}