// FONT SIZE
$buttonFont: 1rem;
$titlePopUpFont: 1.5em;
$h2Size: 1.8em;

// T A I L L E S
$t-margin: 16px;
$t-navbarheight: 70px;
$t-buttonSize: 40px;

// C O L O R S
$c-bleumarine: #1d327f;
$c-bleuvert: #4BC0B4;
$c-orange: #FFBE32;
$c-rouge: #FF3E51;

$c-bleumarine-clair: #BEC6E5;
$c-bleuvert-clair: #5AC5B8;
$c-orange-clair: #FFD892;
$c-rouge-clair: #FF808C;

$c-creme: #FCFCFA;
$c-gris: #B9B9B9;
$c-gris_clair: #EBEBEB;
$c-gris_fonce: #535353;
$c-noir: #353535;

// new colors
$c-images: $c-orange;
$c-videos: $c-rouge;
$c-sons: $c-bleumarine;
$c-anim: $c-bleuvert;

$c-dossier: $c-rouge; // #F56A4B
$c-projet: $c-bleuvert;
$c-bibli: $c-bleumarine;
$c-capture: $c-orange;
$c-publi: $c-rouge;

$c-separator: #DFDFDF;



