include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade

- if( url.indexOf( 'panneau-de-publications') > 0) {
  body.bibli(data-publicationPane="open")
- } else {
  body.bibli(data-publicationPane)
- }

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'bibli', 'isNav')
        +button('publications', '', 'isCollapsed')
        +button('capture', '', 'isCollapsed')

    .bibli-buffer
      ul.medias-list

      .btn-medias
        ul
          +button( 'ajoutText', '', 'isCollapsed')
          br
          +button( 'ajoutMedia', '', 'isCollapsed')
          br
          +button( 'publications', '', 'isCollapsed')

    .montage

      button.open-montage-bar.js--toggleMontage


      .montage-list
        h1.legende Liste des publications
        a(href="" data-reveal-id="modal-add-publi").button-wrapper.button-wrapper_add
          .btn.icon
            include templates/images/add.svg
          span Créer une nouvelle publication
        ul

      .montage-edit
        .publi-close.btn.icon
          include templates/images/back.svg
        .publi-view.btn.icon
          +button('view_publication', '', 'isCollapsed')
        .montage-title
          input(type="text" placeholder="Titre")
          h2.title

          +button('validerTitre', '', '')
          +button('editerTitre', '', 'isCollapsed')


        .inner-montage.small-12
          .montage-element

    div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Nouvelle publication
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-publi' placeholder='Nom')
        input(type='submit' class='submit-new-publi' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-add-local" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Importer un fichier depuis l'ordinateur
      form(onsubmit='return false;' class='add-publi-form lead')
        //- input(type='text' class='new-publi' placeholder='Nom')
        input(type='file' id='inputmedia' accept='image/*' placeholder='Associer une image')
        input(type='submit' class='js--submit-new-local' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-add-text" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Ajouter du texte
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-text' placeholder='Titre')
        textarea(placeholder="Ajouter du texte ici")
        input(type='submit' class='js--submit-new-text' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-media-view" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      .big-mediaContent
      a(class="close-reveal-modal" aria-label="Close") &#215;

    .js--templates
      li.media.media_image(data-type="image")
        .mediaContent
          img
      li.media.media_video(data-type="video")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_stopmotion(data-type="stopmotion")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_audio(data-type="audio")
        .mediaContent
          audio(preload="none" controls)
            source()
      li.media.media_text(data-type="text")
        .mediaContent
          h2.media-title
          p.text
      li.publi-folder(data-publi="")
        .content
          h2.title
        +button('edit_publication', '', 'isCollapsed')
        +button('view_publication', '', 'isCollapsed')
      .js--delete-media-montage.btn.icon
        include templates/images/clear.svg
      //- Pop up media
      div.media-big_image(data-type="image")
        .mediaContent
          img
      div.media-big_video(data-type="video")
        .mediaContent
          video(preload="none" controls)
            source()
      div.media-big_audio(data-type="audio")
        .mediaContent
          audio(preload="none" controls)
            source()


    //- //footer
    include templates/footer.jade

    script(src="/bower_components/dragula.js/dist/dragula.min.js")
    script(src='/js/bibli.js')



