include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body.bibli
    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'bibli', 'isNav')
        +button('publications', '', 'isCollapsed')
        +button('capture', '', 'isCollapsed')

    .bibli-buffer.small-6.medium-6.large-6.columns
      ul.medias-list

      .btn-medias.small-1.medium-1.large-1.columns
        ul
          li.--js-btn-medias-text.btn.icon
            a(href="" data-reveal-id="modal-add-text")
              include templates/images/text.svg
          li.--js-btn-medias-add.btn.icon
            a(href="" data-reveal-id="modal-add-local")
              include templates/images/add.svg
          li.--js-btn-medias-publications.btn.icon
            include templates/images/publi.svg

    .montage.small-6.medium-6.large-6.columns

      button.open-montage-bar.js--toggleMontage


      .montage-list
        h1.legende Liste des publications
        a(href="" data-reveal-id="modal-add-publi").button-wrapper.button-wrapper_add
          .btn.icon
            include templates/images/add.svg
          span Créer une nouvelle publication
        ul

      .montage-edit
        .publi-close.btn.icon
          include templates/images/clear.svg
        .montage-title
          input(type="text" placeholder="Titre")
          h2.montage-title-text
          div.publi-btn.btn.icon
            include templates/images/enregistre.svg
          div.edit-btn.btn.icon
            include templates/images/pen.svg

        .inner-montage.small-12
          .montage-element

    div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Nouvelle publication
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-publi' placeholder='Nom')
        input(type='submit' class='submit-new-publi' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-add-local" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Importer un fichier depuis l'ordinateur
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-publi' placeholder='Nom')
        input(type="file" name="image")
        input(type='submit' class='submit-new-publi' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;

    div(id="modal-add-text" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      h2#modalTitle.popoverTitle Ajouter du texte
      form(onsubmit='return false;' class='add-publi-form lead')
        input(type='text' class='new-text' placeholder='Nom')
        textarea(placeholder="Ajouter du texte ici")
        input(type='submit' class='submit-new-text' value='Valider')
      a(class="close-reveal-modal" aria-label="Close") &#215;


    .js--templates
      li.media.media_image(data-type="image")
        .mediaContent
          img
      li.media.media_video(data-type="video")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_stopmotion(data-type="stopmotion")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_audio(data-type="audio")
        .mediaContent
          audio(preload="none" controls)
            source()
      li.publi-folder(data-publi="")
        .content
          h2.title
        +button('edit_publication', '', 'isCollapsed')
        +button('view_publication', '', 'isCollapsed')

    //- //footer
    include templates/footer.jade

    script(src="/bower_components/dragula.js/dist/dragula.min.js")
    script(src='/js/bibli.js')



