include templates/buttons.jade

doctype html
html
  head
    include templates/head.jade
  body.capture

    .navbar-container

      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'capture', 'isNav')
        +button('bibli', '', 'isCollapsed')
        +button('publications', '', 'isCollapsed')


    div#container.row.mainContent
      div.container-inner
        div.media-choice
          div.btn-choice
            div
              button#photo(data-mediatype="image") image
              button#video-btn(data-mediatype="video") vidéo
              button#stopmotion(data-mediatype="stopmotion") stop motion
              button#audio(data-mediatype="audio") audio

        div.content-wrapper
          div.captureLeft
            div.video-view
              //- display camera
              video(id="video" autoplay)
              //- display audio vizualizer
              canvas(id="canvas-audio" width="480" height="256")

              div.btn-capture-wrapper
                div.photo-capture
                  button#capture-btn.btn.icon
                    include templates/images/record.svg
                div.video-capture
                  div.video-save
                    button#start-record-btn.btn.icon
                      include templates/images/record.svg
                    button(id='stop-record-btn' class="btn icon" disabled)
                      include templates/images/stop.svg
                  span#elasped-time
                div.stopmotion-capture
                  button#start-sm-btn.btn.icon
                    include templates/images/record.svg
                  button#capture-sm-btn.btn.icon
                    include templates/images/record.svg
                div.audio-capture
                  button#start-recording-btn.btn.icon
                    include templates/images/record.svg
                  button(id='stop-recording-btn' class='btn icon' disabled)
                    include templates/images/stop.svg

              div.display-choice.small-12
                div.choices.image-choice
                  .caption image
                div.choices.video-choice
                  .caption vidéo
                div.choices.stopmotion-choice
                  .caption stop motion
                div.choices.audio-choice
                  .caption audio

            div.full-screen-wrapper
              +button( 'fullscreen', '', 'isCollapsed')
              +button( 'nofullscreen', '', 'isCollapsed')

          div.captureRight.small-5.columns
            div.flash.small-12

            div(class="screenshot small-12" data-file="none")
              canvas#canvas.canvas-view
              canvas(id="canvas-equalizer" width=480 height=256)
              video(id="camera-preview" autoplay controls loop)
              button#stop-sm-btn.btn.icon
                include templates/images/enregistre.svg

            div.son
              audio(id="son" src="" controls)

            +button( 'deleteMediaCapture', '', '')

          div.clone

       //- ALERT CHANGER DE MEDIA
      div(id="modal-change-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Attention, vous devez valider votre stop-motion pour l'enregistrer.
        a(class="close-reveal-modal" aria-label="Close")
          button.ok Continuer le stop motion
        button.supprimer-stop-motion Supprimer le stop motion
        a(class="close-reveal-modal" aria-label="Close") &#215;


    //- scripts
    include templates/footer.jade

    script(src="/bower_components/recordrtc/RecordRTC.min.js")
    script(src="/js/libs/screenfull.min.js")
    script(src='/js/capture.js')

