include templates/buttons.jade

doctype html
html
  head
    include templates/head.jade
  body.projets

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')

    #container.row.mainContent

      .folder-wrapper.small-12.columns
        h1.folder #{folderName}
        +button('nouveauProjet')

      ul.project-list

      //- MODAL WINDOWS
      include templates/modals/addProject
      include templates/modals/modifyProject

    .js--templates
      include templates/js_templates


    //- scripts
    include templates/footer.jade
    script(src='/js/folder.js')