include templates/buttons.jade

doctype html
html
  head
    include templates/head.jade
  body.projets

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')

    #container.row

      .folder-wrapper.small-12.columns
        h1.folder #{folderName}
        +button('nouveauProjet')

      ul.project-list

      //- MODAL WINDOWS
      include templates/modals/addProject
      include templates/modals/modifyProject

    .js--templates
      .project.small-12.columns(data-statut)
        +button('editProjet', '', 'isCollapsed')
        .project-inside
          .left-content.small-8.medium-6.columns
            .content
              a(href="" title="Dodoc").project-link
                h2.title
              .meta-data.small-6.columns
                .statut
                  span statut
                  span.statut-type
                .created
                  span créé le
                  span.create-date
                .modified
                  span modifié le
                  span.modify-date
              .button-to-pages.small-6.columns
                h3.legende accès rapide
                +button('capture', '', 'isCollapsed')
                +button('bibli', '', 'isCollapsed')
                +button('publications', '', 'isCollapsed')
          .image-wrapper.small-4.medium-6.columns
            img



    //- scripts
    include templates/footer.jade
    script(src='/js/folder.js')