doctype html
html
  head
    include templates/head.jade
  body.index
    header
      .logo
        include templates/images/dodoc-logo.svg

    #container.row
      .add-folder-wrapper.small-4.columns
        div.add-folder-btn.btn.icon
          include templates/images/add.svg
        span Ajouter un nouveau dossier
      ul.dossier-list

    //- scripts
    include templates/footer.jade