include templates/buttons.jade

doctype html
html
  head
    include templates/head.jade
  body.index

    .navbar-container.is--opened
      header.navbar
        +logo()
        +button('nouveauDossier')

    #container.row
      ul.dossier-list
      //- MODAL WINDOWS
      include templates/modals/addFolder
      include templates/modals/modifyFolder

    //- scripts
    include templates/footer.jade
    script(src='/js/index.js')