doctype html
html
  head
    include templates/head.jade
  body.index

    .navbar-container.is--opened
      header.navbar
        +button('help', '', 'isCollapsed')
        +logo()
        +button('nouveauDossier')

    #container.row.mainContent
      ul.dossier-list

    //- MODAL WINDOWS
    +modals('addFolder')
    +modals('editFolder')

    .js--templates
      include templates/js_templates

    include templates/footer.jade
    script(src='/js/index.js' defer)


