doctype html
html
  head
    include templates/head.jade
  body.projets
    header

      .back.btn.icon
        a(href="/" title="Dodoc")
          include templates/images/back.svg
      .logo
        a(href="/" title="Dodoc")
          include templates/images/dodoc-logo.svg

    #container.row

      .folder-wrapper.small-12.columns

      .add-project-wrapper.small-4.columns
        a(href="#" data-reveal-id="modal-add-project").button-wrapper.button-wrapper_add
          div.add-project-btn.btn.icon
            include templates/images/add.svg
          span Créer un projet
      ul.project-list

      //- MODAL WINDOWS
      //- ADD PROJECT MODAL
      div(id="modal-add-project" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        h2#modalTitle.popoverTitle Nouveau projet
        form(onsubmit='return false;' class='add-project-form lead')
          input(type='text' class='new-project' placeholder='Nom')
          input(type='file' id='imageproject' accept='image/*' placeholder='Associer une image')
          input(type='submit' class='submit-new-project' value='Valider')
        a(class="close-reveal-modal" aria-label="Close") &#215;
      //- MODIFY PROJECT
      div(id="modal-modify-project" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
      //- ALERT CHANGE STATUT (IF STATUT FINISH)
      div(id="modal-statut-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Attention! Le statut terminé ne vous permettra plus d'éditer votre dossier.
        button.oui Ok
        button.annuler Annuler
        a(class="close-reveal-modal" aria-label="Close") &#215;
      //- ALERT SUPPRIMER UN DOSSIER
      div(id="modal-delete-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
        p Êtes-vous sûr de vouloir supprimer le dossier ?
        button.oui Oui
        button.annuler Annuler
        a(class="close-reveal-modal" aria-label="Close") &#215;


    //- scripts
    include templates/footer.jade
    script(src='/js/projets.js')