include templates/buttons.jade

doctype html
html
  head
    include templates/head.jade
  body.publi

    .navbar-container
      header.navbar
        .logo
          a(href="/" title="Dodoc")
            include templates/images/dodoc-logo.svg
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')

    #container.row

      ul.project-list
        .project-inside
          .left-content.small-8.medium-6.columns
            .content.small-6.columns
              h1 #{session}
              .meta-data
                .statut
                  span statut
                  span.statut-type
                .created
                  span créé le
                  span.create-date
                .modified
                  span modifié le
                  span.modify-date
            .button-to-pages.small-6.columns
              +button('capture')
              +button('bibli')
              +button('publi')

          .image-wrapper.small-4.medium-6.columns
            img



        div.last-medias
          ul
        div.list-publi
          ul

    .js--templates
      li.media.media_image(data-type="image")
        .mediaContent
          img
      li.media.media_video(data-type="video")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_stopmotion(data-type="stopmotion")
        .mediaContent
          video(preload="none" controls)
            source()
      li.media.media_audio(data-type="audio")
        .mediaContent
          audio(preload="none" controls)
            source()
      li.publi-folder
        .content
          h2
        +button('edit_publication')
        +button('view_publication')

    //- //footer
    include templates/footer.jade

    script(src='/js/projet.js')