doctype html
html
  head
    include templates/head.jade
  body.projet(data-boitiermode="media_nav")

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        .shortcut-button
          +button('capture', '', 'isCollapsed')
          +button('bibli', '', 'isCollapsed')
          +button('publications', '', 'isCollapsed')

    #container.row.mainContent

      ul.project-list
        .txt-small_info.margin-top_bottom
          | !{dodoc.lang().project}

    +modals('editProject')
    +modals('editMedia')

    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/modules/_boitier.js')
    script(src='/js/project.js' defer)