include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body(class="publi")

    .publi_container(data-publidata data-publishown="#{slugPubliName}") 
      include templates/publiTemplate.jade
      
    include templates/modals/edit_publi

    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/publi.js')
    script(src='/js/uploadToFtp.js')    