include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body(class="publi")

    .navbar-container
      header.navbar
        +button( 'projet', 'isNav')
        +button('validerTitre')

        //- .templateSelector
        //-   .basicTemplate
        //-     a.basic Template Basique
        //-   .newTemplate
        //-     a.new Template New
        //-   .bordelTemplate
        //-     a.bordel Bordel

    .publi-container.mainContent.template_container(data-template="marseille")
      h3.legende
        | !{dodoc.lang.publi}

      .publi-title
        h2(data-publi_title)
          | #{publiName}
      .publi_medias(data-publi_medias)

    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/publi.js')