doctype html
html
  head
    include templates/head.jade
  body.publi

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'makeWebsite', '')
        +button( 'makePDF', '')

    .publi_container(data-publidata data-publishown="#{slugPubliName}")
      include templates/publiTemplate.jade

    .div_is_loading
    +modals('editPubli')
    +modals('confirmPdfExported')
    +modals('exportWebIsReady')
    +modals('uploadWebsiteViaFTP')

    +modals('publiHasBeenSentToFtp')
    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/modules/_exportPubli.js' defer)
    script(src='/js/publi.js' defer)
