include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body.publi

    .navbar-container
      header.navbar
        +logo()
        +button( 'dossier', 'isNav')
        +button( 'projet', 'isNav')
        +button( 'bibli', 'isNav')
        +button('publications', '', 'isCollapsed')
        +button('capture', '', 'isCollapsed')

    div.publi-container
      div.publi-title
        h2
      div.publi-content

    //- //footer
    include templates/footer.jade

    script(src='/js/publi.js')