include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body(class="publi" data-template="basic")

    .navbar-container
      header.navbar
        +button( 'projet', 'isNav')

        //- .templateSelector
        //-   .basicTemplate
        //-     a.basic Template Basique
        //-   .newTemplate
        //-     a.new Template New
        //-   .bordelTemplate
        //-     a.bordel Bordel

    div.publi-container.mainContent
      h3.legende
        | !{dodoc.lang.publi}

      div.publi-title
        h2(data-publi_title)
          | #{publiName}
      div.publi_medias(data-publi_medias)

    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/publi.js')