.navbar-container {
  width: 100%;
  height: 70px;
  font-size: 1.1rem;
  font-weight: 400; }
  body.index .navbar-container {
    height: 350px; }
    body.index .navbar-container .logo {
      pointer-events: none; }
    body.index .navbar-container.is--opened .navbar {
      height: 340px;
      background-color: transparent;
      padding: 64px;
      box-shadow: none; }
      body.index .navbar-container.is--opened .navbar .logo {
        width: 100%; }
        body.index .navbar-container.is--opened .navbar .logo::after {
          opacity: 0; }
  .navbar-container .navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: height .6s ease-out, padding .45s ease-out, background-color .3s ease-out; }
    .navbar-container .navbar .logo {
      margin: auto;
      height: 100%;
      float: left;
      width: 195px;
      transition: width .6s ease-out;
      padding: 10px;
      position: relative; }
      .navbar-container .navbar .logo svg {
        height: 100%;
        min-width: 0;
        width: auto;
        margin: 0 auto;
        height: 100%; }
        .navbar-container .navbar .logo svg circle, .navbar-container .navbar .logo svg rect, .navbar-container .navbar .logo svg polyline {
          opacity: .8;
          transition: opacity .4s; }
        .navbar-container .navbar .logo svg:hover circle, .navbar-container .navbar .logo svg:hover rect, .navbar-container .navbar .logo svg:hover polyline {
          opacity: 1; }
      .navbar-container .navbar .logo::after {
        content: ' ';
        position: absolute;
        left: -20px;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-transition: all .1s;
        transition: all .1s;
        z-index: -1;
        -webkit-transform: skewX(-20deg) skewY(0);
        -ms-transform: skewX(-20deg) skewY(0);
        -o-transform: skewX(-20deg) skewY(0);
        transform: skewX(-20deg) skewY(0);
        background-color: transparent;
        transition: background-color .4s; }
      .navbar-container .navbar .logo:hover::after {
        background: #333; }
    .navbar-container .navbar .item {
      float: left;
      height: 100%;
      position: relative; }
      .navbar-container .navbar .item .button-wrapper {
        display: block;
        margin: 0;
        height: 100%;
        border-radius: 0;
        background-color: transparent;
        color: white;
        padding: 20px;
        transition: color .2s; }
        .navbar-container .navbar .item .button-wrapper .btn.icon + span {
          left: 75px; }
        .navbar-container .navbar .item .button-wrapper::after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          -webkit-transition: all .1s;
          transition: all .1s;
          z-index: -1;
          -webkit-transform: skewX(-20deg) skewY(0);
          -ms-transform: skewX(-20deg) skewY(0);
          -o-transform: skewX(-20deg) skewY(0);
          transform: skewX(-20deg) skewY(0);
          background-color: #333;
          transition: background-color .2s; }
        .navbar-container .navbar .item .button-wrapper:hover {
          color: #333; }
          .navbar-container .navbar .item .button-wrapper:hover::after {
            background-color: transparent; }
        .navbar-container .navbar .item .button-wrapper_dossier .btn.icon {
          padding: 12px;
          margin-top: -8px; }
        .navbar-container .navbar .item .button-wrapper_dossier::after {
          background-color: #F2682C; }
        .navbar-container .navbar .item .button-wrapper_dossier:hover {
          color: #F2682C; }
        .navbar-container .navbar .item .button-wrapper_bibli::after {
          background-color: #293275; }
        .navbar-container .navbar .item .button-wrapper_bibli:hover {
          color: #293275; }
        .navbar-container .navbar .item .button-wrapper_capture::after {
          background-color: #FFB520; }
        .navbar-container .navbar .item .button-wrapper_capture:hover {
          color: #FFB520; }
    .navbar-container .navbar .button-wrapper {
      float: left;
      margin: 15px;
      position: relative; }
