/* alegreya-regular - latin */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: local("Alegreya Regular"), local("Alegreya-Regular"),
    url("alegreya-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("alegreya-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* alegreya-italic - latin */
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: local("Alegreya Italic"), local("Alegreya-Italic"),
    url("alegreya-v13-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("alegreya-v13-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* alegreya-700 - latin */
@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: local("Alegreya Bold"), local("Alegreya-Bold"),
    url("alegreya-v13-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("alegreya-v13-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* alegreya-700italic - latin */
@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: local("Alegreya Bold Italic"), local("Alegreya-BoldItalic"),
    url("alegreya-v13-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("alegreya-v13-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
