.popover 
  .popoverContainer

script(src='/socket.io/socket.io.js')
script var app = {}; app.session = "#{session}";
script var projet = {}; app.projet = "#{projet}";
//- script(src='/js/jquery-1.11.1.js')
//- script(src='/js/lib/jquery-ui-1.11.4/jquery-ui.min.js')
//- script(type="text/javascript" src="/js/tooltip.js")
//- script(type="text/javascript" src="/js/velocity.min.js")
//- //- custom audio and video player
//- script(src="/js/lib/mediaelement-and-player.min.js")
//- script(src="/js/lib/video.js")
//- script(src="/js/lib/jquery.pep.js")

//- script( src='/js/main.js')