.popover 
  .popoverContainer

script(src='/socket.io/socket.io.js')
script var app = {}; app.session = "#{session}";
script var projet = {}; app.projet = "#{projet}";
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.min.js')
script(src='/bower_components/velocity/velocity.min.js')
script(src='/bower_components/foundation/js/foundation.min.js')
script(src='/bower_components/foundation/js/foundation/foundation.reveal.js')

script( src='/js/script.js')