script(src='/socket.io/socket.io.js')
script var app = {}; app.folder = "#{folder}";
script var projet = {}; app.project = "#{project}";
script var publi = {}; app.publi = "#{publi}";
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.min.js')
script(src='/bower_components/velocity/velocity.min.js')
script(src='/bower_components/moment/min/moment-with-locales.js')
script moment.locale('fr');
script(src='/bower_components/foundation/js/foundation.min.js')
script(src='/bower_components/foundation/js/foundation/foundation.reveal.js')

script( src='/dodoc.js')
script( src='/js/common.js')
script( src='/js/_global.js')