//- link(rel='stylesheet', href='/css/mediaelement/mediaelementplayer.css')
//- link(rel='stylesheet', href='/js/lib/jquery-ui-1.11.4/jquery-ui.min.css')
link(rel='stylesheet', href='/css/style.css')
title #{sessionFormat} | #{title}
//- script(type="text/javascript" src="/js/modernizr-2.0.6.custom.js")