form(onsubmit='return false;' class='add-media-data lead')
  label Informations
  textarea(type='text' class='js--mediaInformations')
  input(type='submit' class='js--submit-add-media-data' value='Valider')
+button('deleteMediaBibli', '', '')
a(href="#" title="Dodoc media" class='button-wrapper_highlightMedia js--highlightMedia #{defaultClasses}')
  span Mettre en favoris