link#templateCss(rel="stylesheet" href="")
.template_container(data-template="#{publiTemplateName}")
  h2.publi-title.js--publiTitle
  .publi-btn
    +button('editPubli', '', 'isCollapsed')
  hr
  .publi_medias