/* Webfont: Luciole-Regular */
@font-face {
  font-family: "Luciole";

  src: url("Luciole-Regular.woff2") format("woff2"),
    url("Luciole-Regular.woff") format("woff");

  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Luciole-Bold */
@font-face {
  font-family: "Luciole";

  src: url("Luciole-Bold.woff2") format("woff2"),
    url("Luciole-Bold.woff") format("woff");

  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: Luciole-Italic */
@font-face {
  font-family: "Luciole";

  src: url("Luciole-Italic.woff2") format("woff2"),
    url("Luciole-Italic.woff") format("woff");

  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Luciole-BoldItalic */
@font-face {
  font-family: "Luciole";

  src: url("Luciole-BoldItalic.woff2") format("woff2"),
    url("Luciole-BoldItalic.woff") format("woff");

  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
