div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2#modalTitle.popoverTitle Nouvelle publication
  form(onsubmit='return false;' class='add-publi-form lead')
    input(type='text' class='new-publi' placeholder='Nom')
    input(type='submit' class='js--submit-new-publi' value='Valider')
  a(class="close-reveal-modal" aria-label="Close") &#215;
