//- MODIFY PROJECT
div(id="modal-add-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")

div(style="display:none;")
  h2.popoverTitle
    | !{dodoc.lang.modal.newPubli}
    
  form(onsubmit='return false;')
    input(type='text' class='js--modal_name' placeholder=dodoc.lang.name autofocus)

    
    fieldset.templateSelector
      .legende
        | !{dodoc.lang.selectTemplate}
      label
        input.js--modal_template(type="radio" name="publiTemplate" value="unecolonne" checked)
        include ../../../templates/unecolonne/icone.svg
        span Une colonne
      label
        input.js--modal_template(type="radio" name="publiTemplate" value="grille")
        include ../../../templates/grille/icone.svg
        span Grille
      label
        input.js--modal_template(type="radio" name="publiTemplate" value="marseille")
        include ../../../templates/marseille/icone.svg
        span Marseille
    
    hr
    
    input(type='submit' class='button_submit js--modal_submit' value='Valider')
  a(class="close-reveal-modal" aria-label="Close") &#215;
