div(id="modal-add-text" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2#modalTitle.popoverTitle Ajouter du texte
  form(onsubmit='return false;' class='add-publi-form lead')
    input.js--submit-new-text_title(type='text' placeholder='Titre')
    textarea.js--submit-new-text_text(placeholder="Ajouter du texte ici")
    input(type='submit' class='js--submit-new-text' value='Valider')
  a(class="close-reveal-modal" aria-label="Close") &#215;
