//- MODIFY PROJECT
div(id="modal-modify-publi" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")

div(style="display:none;")
  h2.popoverTitle
    | !{dodoc.lang.modal.editPubli}
    
  form(onsubmit='return false;')
    input(type='text' class='js--modal_name' placeholder=dodoc.lang.name autofocus)
    fieldset.templateSelector
      input.js--modal_template(type="radio" name="publiTemplate" id="unecolonne" value="unecolonne" checked)
      label(for="unecolonne")
        | Une colonne
        include ../../../templates/unecolonne/icone.svg
    fieldset.templateSelector
      input.js--modal_template(type="radio" name="publiTemplate" id="grille" value="grille")
      label(for="grille")
        | Grille
        include ../../../templates/grille/icone.svg
    fieldset.templateSelector
      input.js--modal_template(type="radio" name="publiTemplate" id="marseille" value="marseille")
      label(for="marseille")
        | Marseille
        include ../../../templates/marseille/icone.svg
    
    hr

    input(type='submit' class='button_submit js--modal_submit' value='Valider')
  a(class="close-reveal-modal" aria-label="Close") &#215;