form(onsubmit='return false;' class='add-media-data lead')
  label
    | !{dodoc.lang.modal.informations}
  textarea(type='text' class='js--mediaInformations')

  hr

  input(type='submit' class='js--submit-add-media-data' value='Valider')
+button('favButton', '', '')
+button('deleteMediaBibli', '', '')

