
//- MODIFY FOLDER
div(id="modal-modify-folder" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h3#modalTitle.popoverTitle
    | Modifier le dossier
  form(onsubmit="return false;" class="modify-folder-form")
    input(type="text" class="modify-folder" value)
    select.modify-statut(name="statut")
      option(value='en-cours')
        | en cours
      option(value='termine')
        | terminé
    input(type="submit" class="submit-modify-folder" value="Valider")
    +button('deleteFolder', '', 'isCollapsed')


  a.close-reveal-modal(aria-label="Close")
    | &#215;

div(id="modal-statut-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  p Attention&nbsp;! Le statut terminé ne vous permettra plus d'éditer votre dossier.
  button.oui Ok
  button.annuler Annuler
  a(class="close-reveal-modal" aria-label="Close") &#215;

  //- ALERT SUPPRIMER UN DOSSIER
div(id="modal-delete-alert" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  p Êtes-vous sûr de vouloir supprimer le dossier ?
  button.oui Oui
  button.annuler Annuler
  a(class="close-reveal-modal" aria-label="Close") &#215;
