// une colonne
.template_container {

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 0;

  .publi-title {

  }

  .publi_medias {
    padding: 10px 16px;

    .media {
      .mediaContent {
        position: relative;
      }
      img, video, audio, svg {
        width: auto;
        min-width: 0;
        max-height: 70vh;
      }

    }
  }
}
