/* archivo-black-regular - latin */
@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"),
    url("archivo-black-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("archivo-black-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 700;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"),
    url("archivo-black-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("archivo-black-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Archivo Black";
  font-style: italic;
  font-weight: 400;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"),
    url("archivo-black-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("archivo-black-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Archivo Black";
  font-style: italic;
  font-weight: 700;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"),
    url("archivo-black-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("archivo-black-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
