._editBtn._editBtn {
  --color2: var(--h-500) !important;
  // --color2: currentColor !important;

  svg {
    width: 1.2em !important;
    height: 1.2em !important;
  }
}

.u-warning {
  border-radius: 0;
  background-color: var(--bg-color);
}

.u-button {
  text-transform: initial;
}

.u-button_outline {
  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      border-color: transparent;
    }
  }
}

.u-button[disabled] {
  // background-color: var(--c-gris);
  // filter: none;
  color: var(--c-gris);
}

._reorderedList--item {
  background-color: transparent !important;
}

.u-button_pill {
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 1.5);
}

label,
.u-label {
  // font-weight: 500;
  font-size: var(--sl-font-size-medium);
  font-family: var(--sl-font-sans);
}

.u-displayAsPublic {
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  > * {
    padding: calc(var(--spacing) / 4);
    background-color: var(--h-500);
    margin-left: calc(var(--spacing) / 2);
  }
}

.u-button {
  > .b-icon {
    // only if there is text after the icon
    &:not(:last-child) {
      margin-right: calc(var(--spacing) / 2);
    }
  }
}
