.u-label {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 500;

  // font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-medium);
  letter-spacing: 0.05em;
  color: #666;

  line-height: 1;
  // margin-right: calc(var(--spacing) / 4);
}

.u-instructions {
  font-style: italic;
  // color: var(--c-gris_fonce);
}

.u-wips {
  position: relative;
  text-align: center;
  margin: calc(var(--spacing) / 2) 0;

  &::before {
    content: "en chantier :)";
    font-family: "Fira Code";
    background: var(--c-orange);
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1);
    border-radius: 6px;
    transform: rotate(-6deg);
    position: relative;
    display: inline-block;
  }
}

.u-padding-small {
  padding: calc(var(--spacing) / 2);
}

.u-card {
  background-color: #fff;
  border-radius: 6px;
  // border-bottom: 2px solid #b9b9b9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);

  &::part(base) {
    border: none;
    box-shadow: none;
  }

  &::part(header) {
    margin: 0;
    font-weight: 700;
    // padding: calc(var(--spacing) / 1) calc(var(--spacing) / 1);
  }
  &::part(body) {
    padding: calc(var(--spacing) / 1);
  }
}

.u-errorMsg {
  color: var(--c-rouge);
  font-style: italic;
}

.u-buttonLink {
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: lowercase;
  background: transparent;
}

.u-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
  font-size: var(--input-font-size-small);
  text-decoration: none;
  color: inherit;

  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
  border-radius: var(--input-border-radius);

  svg,
  .inlineSVG {
    width: 2em;
    height: 2em;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
.u-button_red {
  background-color: var(--c-rouge);
  color: white;

  &:hover,
  &:focus {
    background-color: var(--c-rouge_fonce);
  }
}
.u-button_bleuvert {
  background-color: var(--c-bleuvert);
  color: white;

  &:hover,
  &:focus {
    background-color: var(--c-bleuvert_fonce);
  }
}
.u-button_big {
  font-size: var(--input-font-size-big);
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  all: unset;
  box-sizing: border-box;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.u-input,
[contenteditable="true"] {
  display: block;
  width: 100%;

  // font-family: var(--input-font-family);
  // font-size: var(--input-font-size);
  // font-weight: var(--input-font-weight);
  // color: var(--input-color);
  color: inherit;
  // border: solid var(--input-border-width) var(--input-border-color);
  border-radius: var(--input-border-radius);
  background-color: var(--c-gris);
  // background: white;
  height: var(--input-height);
  line-height: var(--input-height);
  vertical-align: middle;

  padding-left: calc(var(--spacing) * 0.5);
  padding-right: calc(var(--spacing) * 0.5);
  margin: 0;

  // border-color: var(--c-gris_fonce);
  // border-width: 2px;
  // border-style: dashed;

  transition: all 0.25s;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--input-border-color-focus);
    // background-color: var(--c-gris);
    // background-color: var(--c-bleu_clair);
  }

  &.bg-blanc {
    background-color: white;
  }
}

textarea,
[contenteditable="true"] {
  height: auto;
  line-height: inherit;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
}

input.u-input-small {
  font-size: var(--input-font-size-small);
  height: var(--input-height-small);
}

.is--allowEditable {
}

img,
video,
audio,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[required] {
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: radial-gradient(var(--c-rouge) 18%, transparent 25%);

  transition: background-size 0.2s;

  &:focus {
    background-size: 20px 20px;
  }
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right 0.4rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: calc(var(--spacing) * 0.5 + 1rem);
  min-width: 0px;

  &:disabled {
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27UTF-8%27%3F%3E%3Csvg width=%2741px%27 height=%2726px%27 viewBox=%270 0 41 26%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27%3E%3Cdefs%3E%3C/defs%3E%3Cg id=%27Page-1%27 stroke=%27none%27 stroke-width=%271%27 fill=%27none%27 fill-rule=%27evenodd%27%3E%3Cpolygon id=%27Path-3%27 fill=%27%23CCCCCC%27 points=%270 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246%27%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  }
}

sl-tag[size="small"] {
  &::part(base) {
    height: calc(var(--sl-input-height-small) * 1);
  }
}

sl-button[variant="semitransparent"] {
  &::part(base) {
    background: rgba(255, 255, 255, 0.7);
  }
}
sl-button[variant="edit"] {
  &::part(base) {
    background: var(--c-bleuvert);
    // color: var(--c-bleuvert);
    color: white;
    border: none;
    border: 1px solid var(--c-bleuvert);
    // fill: white;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover,
  &:active {
    &::part(base) {
      // transform: scale(1.02);
      background: var(--c-bleuvert);
      background: var(--c-bleuvert_fonce);
      color: white;
      // border-color: white;
      // border: none;
    }
  }
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    display: inline-flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-around;

    // width: 100%;
    max-width: 380px;
    text-align: center;

    cursor: pointer;
    overflow: hidden;
    word-break: break-word;

    padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
    border-radius: var(--input-border-radius);
    margin-bottom: 0;

    transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  :focus + label,
  &.has-focus + label {
    outline: 1px dotted var(--c-rouge);
    outline: -webkit-focus-ring-color auto 5px;
  }

  + label * {
    display: block;
  }

  + label svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;
    margin-right: calc(var(--spacing) / 1);
  }

  &.inputfile-2 + label {
    background-color: var(--c-rouge);
    color: white;
    border: 0px solid currentColor;
    white-space: nowrap;

    &:hover {
      background-color: var(--c-rouge_fonce);
    }
  }
}

.fieldCaption {
  font-weight: 500;
  font-size: var(--sl-font-size-x-small);
}

.u-colorRed {
  color: var(--c-rouge);
}
