.u-label {
  display: block;
  color: var(--label-color);
  margin-bottom: calc(var(--spacing) / 4);
  font-size: var(--sl-font-size-small);
  font-weight: 400;
}
.u-meta {
  text-transform: uppercase;

  font-family: var(--sl-font-mono);
  font-size: var(--sl-font-size-small);
  letter-spacing: 0.02em;
}

*:focus-visible {
  outline-color: var(--active-color);
}

a:focus-visible {
  outline-width: 2px;
}

.u-sectionLabel {
  display: block;
  width: 100%;
  font-size: var(--sl-font-size-medium);
  font-weight: bold;
  letter-spacing: 0.04em;
  text-align: center;

  background: var(--c-bleumarine);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  color: white;
  border-radius: 4px;

  margin-bottom: calc(var(--spacing) / 1);

  > * {
    // display: inline-block;
  }

  // &::before {
  //   content: "en chantier :)";
  //   font-family: "Fira Code";
  //   padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1);
  //   border-radius: 6px;
  //   transform: rotate(-6deg);
  //   position: relative;
  //   display: inline-block;
  // }
}

.u-instructions {
  font-style: italic;
  color: var(--label-color);
}
.u-warning {
  display: flex;
  gap: calc(var(--spacing) / 1);
  justify-content: center;
  align-items: center;
  color: var(--c-rouge);
  // font-weight: bold;
  border: 1px solid var(--c-rouge);
  border-bottom-width: 4px;
  // background-color: var(--c-rouge_fonce);
  // color: white;
  // color: white;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1);
  border-radius: var(--input-border-radius);

  font-weight: 400;

  &::before {
    content: "⚠";
    font-size: 150%;
  }
}

.u-wips {
  position: relative;
  // text-align: center;
  margin: calc(var(--spacing) / 2) 0;

  &::before {
    content: "en chantier :)";
    font-family: "Fira Code";
    background: var(--c-orange);
    padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
    font-size: var(--sl-font-size-small);

    border-radius: 6px;
    transform: rotate(-6deg);
    position: relative;
    display: inline-block;
  }
}

.u-padding-small {
  padding: calc(var(--spacing) / 2);
}

.u-card--header {
  font-weight: 600;
}

.u-card2 {
  // border-bottom: 2px solid var(--c-gris);
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));

  transform-origin: center top;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus-visible {
    transform: translateY(-2px) scale(1.02) rotate(-0deg);
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.1));
    // box-shadow: 0 0 0 1px hsla(230, 13%, 9%, 0.05),
    //   0 0.9px 1.25px hsla(230, 13%, 9%, 0.025),
    //   0 3px 5px hsla(230, 13%, 9%, 0.05), 0 12px 20px hsla(230, 13%, 9%, 0.09);
    // box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16);
  }
}

.u-errorMsg {
  color: var(--c-rouge);
  font-style: italic;
}

.t-500 {
  font-weight: 500;
}

.b-icon {
  display: inline-block;
  min-width: 1em;
  min-height: 1em;
  max-width: none;
  overflow: visible;
}

.u-buttonLink {
  font-weight: 400;
  // text-transform: lowercase;
  background: transparent;

  line-height: 1;
  padding: 0;
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-underline-offset: 0.1em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  white-space: nowrap;
  gap: calc(var(--spacing) / 4);
  font-size: var(--sl-font-size-small);

  text-decoration-thickness: 0.07em;

  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
  }

  &.is--active {
    color: var(--c-bleuvert);
  }
  &.has--whitebg {
    background: white;
  }
  &.u-buttonLink_white {
    color: white;
  }
  &.u-buttonLink_red {
    color: var(--c-rouge);
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:focus-visible {
    background-color: var(--active-color);
  }

  svg {
    pointer-events: none;
  }
}

button,
.u-unset {
  appearance: unset;
}

.u-button {
  display: inline-flex;
  gap: calc(var(--spacing) / 4);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: var(--input-font-size-small);
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  background-color: var(--c-gris_clair);
  white-space: break-spaces;

  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
  border-radius: var(--input-border-radius);

  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  .b-icon.bi {
    width: 1.35em;
    height: 1.35em;
  }

  svg,
  .inlineSVG {
    flex: 0 0 auto;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(50%);
    color: var(--c-gris_fonce);
  }

  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      outline: 0;
      background: var(--active-color);
    }
  }
}

.u-button_icon {
  padding: calc(var(--spacing) / 2);
  background: transparent;
  border-radius: 50%;
  font-size: var(--sl-font-size-medium);

  color: inherit;

  > svg {
    display: block;
  }

  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      color: var(--active-color);
      background: transparent;
    }
  }

  &.u-button_small {
    padding: calc(var(--spacing) / 4);
  }
}
.u-button_inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.u-button_floating {
  box-shadow: 0px 5px 24px currentColor;
}
.u-button_wide {
  min-width: 3.5em;
}
.u-button_transparent {
  background-color: transparent;

  &[disabled] {
    &:hover,
    &:focus-visible,
    &.is--active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.u-button_black {
  background-color: var(--c-noir);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-gris_fonce);
    }
  }
}
.u-button_white {
  background-color: white;
  color: var(--c-noir);

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--active-color);
      color: white;
    }
  }
}
.u-button_red {
  background-color: var(--c-rouge);
  color: white;

  &.u-button_floating {
    box-shadow: 0px 5px 24px var(--c-rouge);
  }

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-rouge_fonce);
    }
  }
}
.u-button_bleuvert {
  background-color: var(--c-bleuvert);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleuvert_fonce);
    }
  }
}
.u-button_bleuvert_fonce {
  background-color: var(--c-bleuvert_fonce);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleuvert);
    }
  }
}
.u-button_orange {
  background-color: var(--c-orange);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-orange_fonce);
    }
  }
}
.u-button_bleumarine {
  background-color: var(--c-bleumarine);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleumarine_fonce);
    }
  }
}
.u-button_small {
  font-size: var(--input-font-size-small);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  b-icon {
    font-size: 80%;
  }
}
.u-button_verysmall {
  font-size: var(--input-font-size-x-small);
  padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
  font-size: var(--sl-font-size-x-small);
}
.u-button_big {
  font-size: var(--input-font-size-big);
  min-height: 2.9em;
}

.u-colorOrange {
  color: var(--c-orange);
}
.u-colorWhite {
  color: white;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="checkbox"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  all: unset;
  box-sizing: border-box;
}

input[type="number"] {
  min-width: 8ch;

  &:not([step="any"])::-webkit-inner-spin-button,
  &:not([step="any"])::-webkit-outer-spin-button {
    opacity: 1;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="checkbox"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="week"],
select,
textarea,
.u-input,
[contenteditable="true"] {
  display: block;
  width: 100%;

  // font-family: var(--input-font-family);
  // font-size: var(--input-font-size);
  // font-weight: var(--input-font-weight);
  // color: var(--input-color);
  color: inherit;
  // border: solid var(--input-border-width) var(--input-border-color);
  padding: calc(var(--spacing) / 2);
  border-radius: var(--input-border-radius);
  background-color: var(--c-gris_clair);
  color: inherit;

  // background: white;
  // height: var(--input-height);
  line-height: var(--input-height);
  line-height: inherit;

  vertical-align: middle;

  // padding: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
  margin: 0;

  border-bottom: 2px solid var(--c-gris);

  transition: all 0.05s;

  &:hover {
    outline: 0;
    border-color: var(--input-border-color);
  }
  &:focus-visible {
    outline: 0;
    border-color: var(--input-border-color-focus);
  }

  &.bg-blanc {
    background-color: white;
  }
  &[required] {
    background-size: 16px 16px;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: radial-gradient(var(--c-rouge) 18%, transparent 25%);

    transition: background-size 0.2s;
  }
}

.u-inputGroup {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: calc(var(--spacing) / 4);
}

.u-suffix {
  font-family: "Fira Code";
  padding: calc(var(--spacing) / 4);
  font-size: var(--sl-font-size-x-small);
}

textarea,
[contenteditable="true"] {
  height: auto;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2);
}

input[size="small"] {
  font-size: var(--input-font-size-small);
  height: var(--input-height-small);
}

.is--allowEditable {
}

img,
video,
audio,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right 0.4rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  color: var(--c-noir);
  // border: none;
  padding: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) * 0.5 + 1rem);
  min-width: 0px;
  line-height: 1.5;
  border-radius: var(--input-border-radius);
  user-select: none;

  &:disabled {
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27UTF-8%27%3F%3E%3Csvg width=%2741px%27 height=%2726px%27 viewBox=%270 0 41 26%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27%3E%3Cdefs%3E%3C/defs%3E%3Cg id=%27Page-1%27 stroke=%27none%27 stroke-width=%271%27 fill=%27none%27 fill-rule=%27evenodd%27%3E%3Cpolygon id=%27Path-3%27 fill=%27%23CCCCCC%27 points=%270 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246%27%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &[size="small"] {
    height: var(--input-height-small);
    font-size: var(--sl-font-size-small);
    padding-top: calc(var(--spacing) / 8);
    padding-bottom: calc(var(--spacing) / 8);
    line-height: 1.5;
  }

  &.is--active {
    background-color: var(--active-color);
  }
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    display: inline-flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: center;

    // width: 100%;
    // max-width: 380px;
    text-align: center;

    cursor: pointer;
    overflow: hidden;
    word-break: break-word;

    padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
    border-radius: var(--input-border-radius);
    margin-bottom: 0;

    transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  :focus + label,
  &.has-focus + label {
    outline: 1px dotted var(--c-rouge);
    outline: -webkit-focus-ring-color auto 5px;
  }

  + label * {
    display: block;
  }

  + label svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;
    // margin-right: calc(var(--spacing) / 1);
  }

  &.inputfile-2 + label {
    background-color: var(--c-rouge);
    color: white;
    border: 0px solid currentColor;
    white-space: nowrap;

    &:hover {
      background-color: var(--c-rouge_fonce);
    }
  }
}

.fieldCaption {
  font-weight: 500;
  font-size: var(--sl-font-size-x-small);
  font-family: var(--sl-font-mono);
}
.u-filename {
  // font-weight: 500;
  // font-size: var(--sl-font-size-small);
  font-family: var(--sl-font-mono);
}

.u-defaultValue {
  margin: calc(var(--spacing) / 8);
  font-size: var(--sl-font-size-x-small);
  text-align: right;
}

.u-colorBlack {
  color: var(--c-noir);
}
.u-colorWhite {
  color: white;
}
.u-colorRed {
  color: var(--c-rouge);
}

.u-colorBleuvert {
  color: var(--c-bleuvert);
}

code {
  font-family: "Fira Code";
  // white-space: pre;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: var(--c-gris_clair);
  color: var(--c-noir);
}

.u-fontCode {
  font-family: "Fira Code";
}

.u-divCentered {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.u-switch {
  /* Switches */
  --switch-font-size: var(--input-font-size);
  --switch-bg-color: var(--c-gris);
  --switch-bg-color-hovered: var(--c-rouge_clair);
  --switch-bg-color-checked: var(--c-rouge);
  --switch-border-radius: var(--switch-size);

  --switch-size: 2rem;
  --switch-size-small: 1rem;
  --switch-size-big: 3rem;
  --switch-thumb-bg-color: white;
  --switch-thumb-border-radius: 50%;
  --switch-thumb-spacing: 2px;
  --switch-speed: 0.2s;

  font-size: var(--switch-font-size);

  &:hover {
    --switch-bg-color: var(--switch-bg-color-hovered);
  }

  input {
    display: none !important;
  }

  input + label {
    position: relative;
    min-width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
    line-height: var(--switch-size);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    /* text-indent: calc(var(--switch-size) * 2 + .5rem); */
    padding-left: calc(var(--switch-size) * 2 + 0.5rem);
  }

  input + label::before,
  input + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--switch-size);
    width: calc(var(--switch-size) * 2);
    bottom: 0;
    display: block;
  }

  input + label::before {
    right: 0;
    background-color: var(--switch-bg-color);
    border-radius: var(--switch-border-radius);
    transition: background-color var(--switch-speed);
  }

  input + label:after {
    top: var(--switch-thumb-spacing);
    left: var(--switch-thumb-spacing);
    width: calc(var(--switch-size) - var(--switch-thumb-spacing) * 2);
    height: calc(var(--switch-size) - var(--switch-thumb-spacing) * 2);
    border-radius: var(--switch-thumb-border-radius);
    background-color: var(--switch-thumb-bg-color);
    transition: margin var(--switch-speed);
  }

  input:checked + label::before {
    background-color: var(--switch-bg-color-checked);
  }

  input:checked + label::after {
    margin-left: var(--switch-size);
  }

  input:disabled + label {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & + .u-switch {
    margin-left: 1rem;
  }
}
.u-switch-xs {
  --switch-size: 0.9rem;
}
.u-switch_twoway {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
    line-height: var(--switch-size);
    height: var(--switch-size);
    padding-top: 1px;

    &:first-child {
      margin-right: 0.5rem;
    }
  }
}
.u-padding_verysmall {
  padding: calc(var(--spacing) / 4);
}

.u-sameRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) / 2);
}

.u-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  ._spinner {
    width: 2rem;
    height: 2rem;
    border: 4px solid var(--c-gris);
    border-top-color: var(--c-bleuvert);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.u-mediaOptions {
  display: flex;
  flex-flow: row wrap;
  // justify-content: center;
  // background: var(--c-gris_clair);
  // border: 2px solid var(--c-gris);

  // padding: calc(var(--spacing) / 2);
  gap: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  max-width: 50ch;
}

.u-spacingBottom {
  margin-bottom: calc(var(--spacing));
}

fieldset {
  border: 2px solid var(--c-gris);
  margin: 0;
  border-radius: 4px;

  legend {
    color: var(--c-gris_fonce) !important;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 0 calc(var(--spacing) / 2);
    font-weight: 500;

    &.u-label {
      margin-bottom: 0;
    }
  }
}

.u-textEllipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.u-textEllipsis_3 {
  -webkit-line-clamp: 3;
}
.u-textEllipsis_1 {
  -webkit-line-clamp: 1;
}

input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
  border: 2px solid var(--c-gris);
  padding: 0;
  color: var(--c-noir);

  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 0.12s transform cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: inset 1em 1em currentColor;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  &:checked {
    // border-color: var(--c-gris_fonce);

    &::before {
      transform: scale(1);
    }

    &:hover {
    }
  }

  &:disabled {
    color: var(--c-gris_fonce);
    cursor: not-allowed;
  }
}
.u-addBtn {
  padding: calc(var(--spacing) / 4);
  color: var(--c-noir);
  border-radius: 2em;

  color: var(--c-noir);

  b-icon {
    font-size: 1.4em;
  }
}
.u-listOfAvatars {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: calc(var(--spacing) / 4);
  padding: calc(var(--spacing) / 4) 0;

  > span {
  }
}

.u-nut {
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  min-height: 20px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 10px;
  font-family: "Fira Code";
  padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
  margin: calc(var(--spacing) / 4);

  font-weight: 500;
  font-size: var(--sl-font-size-small);

  &[data-isfilled] {
    background: var(--c-bleumarine);
    color: white;

    &[data-isfilled="0"] {
      background: var(--c-gris_fonce);
    }
  }
}

.u-disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
  opacity: 0.8;

  > * {
    // pointer-events: none;
  }
}

.u-linkList {
  display: flex;
  flex-flow: row nowrap;
  gap: calc(var(--spacing) / 2);

  appearance: none;
  font-weight: inherit;
  background: transparent;
  width: 100%;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  span {
    max-width: 34ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover,
  &:focus-visible {
    text-decoration: none;
    // background: var(--c-gris_clair);
  }
  &.is--active {
    font-weight: 600;
    text-decoration: none;
  }
  &.is--redorderable {
    text-decoration: none;
  }
}

.u-dropzone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) / 4);

  width: 100%;

  background-color: white;
  color: var(--c-noir);

  padding: calc(var(--spacing) / 2);

  // border-image-source: url(./utils/border-circle.svg);
  // border-image-slice: 33% 33%;
  // border-image-repeat: round;
  // border-width: 8px;

  border: 3px dotted white;
  border-radius: 10px;

  border-color: var(--dropzone-color2);
  background-color: var(--dropzone-color1);

  transition: all 0.15s cubic-bezier(0.19, 1, 0.22, 1);

  &.is--active {
    border-color: var(--dropzone-color1) !important;
    animation: flashbackground 1000ms infinite alternate ease-in;

    @keyframes flashbackground {
      0% {
        background-color: var(--dropzone-color2);
      }
      100% {
        background-color: var(--dropzone-color1);
      }
    }
  }

  &.is--dragover,
  &:hover,
  &:focus {
    // override possible is--active
    border-color: transparent !important;
    background-color: var(--dropzone-color2) !important;
  }

  > * {
    pointer-events: none;
  }
}

.u-displayAsPublic {
  display: inline-block;
  pointer-events: auto;
  background: var(--c-bleuvert);
  border: 2px solid var(--c-bleuvert_fonce);
  padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
  border-radius: 4px;
  color: white;

  > * {
    // padding: 0;
    // padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  }

  .u-label {
    color: white;
  }
}

.flickity-prev-next-button.flickity-prev-next-button {
  height: 34px;
  width: 34px;
}
.u-metaField {
  margin-bottom: calc(var(--spacing) / 2);

  > *:nth-child(1) {
    flex: 0 0 auto;
  }
  > *:nth-child(2) {
    flex: 1 1 auto;
    // text-align: right;
  }
}

.u-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

hr {
  border-top: 1px solid var(--c-gris);
  border-bottom: 0 solid #000;
  margin: calc(var(--spacing)) 0;
}

table {
  // color: #333;
  // background: white;
  // border: 1px solid grey;
  // font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  min-width: 100px;
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}
table caption {
  padding: 0.5em;
}
table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
