.u-warning {
  border-radius: 0;
  background-color: var(--bg-color);
}

.u-button[disabled] {
  background-color: var(--c-gris);
  // filter: none;
  color: var(--c-gris_fonce);
}

._reorderedList--item {
  background-color: transparent !important;
}

.u-button_pill {
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 1.5);
}

label,
.u-label {
  // font-weight: 500;
}
