.u-label {
  display: block;
  // font-variant: small-caps;
  // text-transform: uppercase;
  font-weight: 500;

  // font-family: var(--sl-font-mono);
  letter-spacing: 0.03em;
  font-size: var(--sl-font-size-x-small);
  // letter-spacing: 0.01em;
  color: var(--label-color);
  // color: var(--c-orange);

  margin-bottom: calc(var(--spacing) / 4);

  // line-height: 1;
  // margin-right: calc(var(--spacing) / 4);

  sl-icon-button::part(base) {
    padding: 0;
    color: currentColor;
  }
}
.u-meta {
  text-transform: uppercase;
  // font-weight: 500;

  font-size: var(--sl-font-size-small);
  letter-spacing: 0.02em;
}

.u-sectionLabel {
  display: block;
  width: 100%;
  font-size: var(--sl-font-size-medium);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;

  background: var(--c-bleumarine);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
  color: white;
  border-radius: 4px;

  margin-bottom: calc(var(--spacing) / 1);

  > * {
    // display: inline-block;
  }

  // &::before {
  //   content: "en chantier :)";
  //   font-family: "Fira Code";
  //   padding: calc(var(--spacing) / 4) calc(var(--spacing) / 1);
  //   border-radius: 6px;
  //   transform: rotate(-6deg);
  //   position: relative;
  //   display: inline-block;
  // }
}

.u-instructions {
  font-style: italic;
  color: var(--label-color);
}

.u-wips {
  position: relative;
  // text-align: center;
  margin: calc(var(--spacing) / 2) 0;

  &::before {
    content: "en chantier :)";
    font-family: "Fira Code";
    background: var(--c-orange);
    padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
    font-size: var(--sl-font-size-small);

    border-radius: 6px;
    transform: rotate(-6deg);
    position: relative;
    display: inline-block;
  }
}

.u-padding-small {
  padding: calc(var(--spacing) / 2);
}

.u-card {
  background-color: #fff;
  border-radius: 0;
  // border-bottom: 2px solid #b9b9b9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  transition: box-shadow 0.4s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.u-card--header {
  font-weight: 600;
}

.u-errorMsg {
  color: var(--c-rouge);
  font-style: italic;
}

.t-500 {
  font-weight: 500;
}
.u-buttonLink {
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: lowercase;
  background: transparent;
  line-height: 1;
  padding: 0;

  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 0.2em;

  display: inline-flex;
  align-items: center;
  flex-flow: row nowrap;
  white-space: nowrap;
  gap: calc(var(--spacing) / 4);

  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
  }

  &.is--active {
    color: var(--c-bleuvert);
  }
  &.has--ts {
    text-shadow: -1px -1px 4px white;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:focus-visible {
    background-color: var(--active-color);
  }
}

button,
.u-unset {
  appearance: unset;
}

.u-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.06em;
  font-size: var(--input-font-size-small);
  text-decoration: none;
  color: inherit;

  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
  border-radius: var(--input-border-radius);

  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  svg,
  .inlineSVG {
    fill: currentColor;
    width: 2em;
    height: 2em;
  }

  &[disabled] {
    cursor: not-allowed;
    // filter: grayscale(50%);
  }

  &.is--active {
    background: var(--c-bleuvert);
  }

  &:hover,
  &:active,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background: var(--active-color);
    }
  }
}
// .u-button_round {
//   border-radius: 50%;
// }
.u-button_inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.u-button_floating {
  box-shadow: 0px 5px 24px currentColor;
}
.u-button_wide {
  min-width: 3.5em;
}
.u-button_transparent {
  background-color: transparent;

  &[disabled] {
    color: var(--c-gris_fonce);
    &:hover,
    &:focus-visible,
    &.is--active {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
.u-button_black {
  background-color: var(--c-noir);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-gris_fonce);
    }
  }

  &[disabled] {
    color: var(--c-gris_fonce);
  }
}
.u-button_white {
  background-color: white;
  color: var(--c-noir);

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-gris);
    }
  }

  &[disabled] {
    color: var(--c-gris_fonce);
  }
}
.u-button_red {
  background-color: var(--c-rouge);
  color: white;

  &.u-button_floating {
    box-shadow: 0px 5px 24px var(--c-rouge);
  }

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-rouge_fonce);
    }
  }
}
.u-button_bleuvert {
  background-color: var(--c-bleuvert);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleuvert_fonce);
    }
  }
}
.u-button_bleuvert_fonce {
  background-color: var(--c-bleuvert_fonce);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleuvert);
    }
  }
}
.u-button_orange {
  background-color: var(--c-orange);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-orange_fonce);
    }
  }
}
.u-button_bleumarine {
  background-color: var(--c-bleumarine);
  color: white;

  &:hover,
  &:focus-visible,
  &.is--active {
    &:not([disabled]) {
      background-color: var(--c-bleumarine_fonce);
    }
  }
}
.u-button_small {
  font-size: var(--input-font-size-small);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);

  sl-icon {
    font-size: 80%;
  }
}
.u-button_verysmall {
  font-size: var(--input-font-size-x-small);
  padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
}
.u-button_big {
  font-size: var(--input-font-size-big);
  min-height: 2.9em;
}

.u-colorOrange {
  color: var(--c-orange);
}
.u-colorWhite {
  color: white;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  all: unset;
  box-sizing: border-box;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
.u-input,
[contenteditable="true"] {
  display: block;
  width: 100%;

  // font-family: var(--input-font-family);
  // font-size: var(--input-font-size);
  // font-weight: var(--input-font-weight);
  // color: var(--input-color);
  color: inherit;
  // border: solid var(--input-border-width) var(--input-border-color);
  border-radius: var(--input-border-radius);
  background-color: var(--c-gris);
  color: var(--c-noir);

  // background: white;
  height: var(--input-height);
  line-height: var(--input-height);
  line-height: inherit;

  vertical-align: middle;

  padding-left: calc(var(--spacing) * 0.5);
  padding-right: calc(var(--spacing) * 0.5);
  margin: 0;

  border-bottom: 1px solid transparent;

  transition: all 0.05s;

  &:hover {
    outline: 0;
    border-color: var(--input-border-color);
  }
  &:focus-visible {
    outline: 0;
    border-color: var(--input-border-color-focus);
  }

  &.bg-blanc {
    background-color: white;
  }
  &[required] {
    background-size: 16px 16px;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: radial-gradient(var(--c-rouge) 18%, transparent 25%);

    transition: background-size 0.2s;
  }
}

.u-inputGroup {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.u-suffix {
  font-family: "Fira Code";
  padding: calc(var(--spacing) / 4);
  font-size: var(--sl-font-size-x-small);
}

textarea,
[contenteditable="true"] {
  height: auto;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) / 2);
}

input[size="small"] {
  font-size: var(--input-font-size-small);
  height: var(--input-height-small);
}

.is--allowEditable {
}

img,
video,
audio,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right 0.4rem center;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  padding: calc(var(--spacing) / 2);
  padding-right: calc(var(--spacing) * 0.5 + 1rem);
  min-width: 0px;
  line-height: 1.5;
  border-radius: var(--input-border-radius);

  &:disabled {
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27UTF-8%27%3F%3E%3Csvg width=%2741px%27 height=%2726px%27 viewBox=%270 0 41 26%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27%3E%3Cdefs%3E%3C/defs%3E%3Cg id=%27Page-1%27 stroke=%27none%27 stroke-width=%271%27 fill=%27none%27 fill-rule=%27evenodd%27%3E%3Cpolygon id=%27Path-3%27 fill=%27%23CCCCCC%27 points=%270 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246%27%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  }

  &[size="small"] {
    height: var(--input-height-small);
    font-size: var(--sl-font-size-small);
    padding: calc(var(--spacing) / 8) calc(var(--spacing) / 4);
    line-height: 1.5;
  }
}

sl-tag[size="small"] {
  &::part(base) {
    height: calc(var(--input-height-small) * 1);
  }
}

sl-card {
  &::part(header) {
    padding: calc(var(--spacing) / 2) var(--spacing);
  }
}

sl-button[variant="semitransparent"] {
  &::part(base) {
    background: rgba(255, 255, 255, 0.7);
  }
}
sl-button[variant="edit"] {
  &::part(base) {
    background: var(--c-bleuvert);
    border: none;
  }
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    display: inline-flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-around;

    // width: 100%;
    max-width: 380px;
    text-align: center;

    cursor: pointer;
    overflow: hidden;
    word-break: break-word;

    padding: calc(var(--spacing) / 2) calc(var(--spacing) / 1);
    border-radius: var(--input-border-radius);
    margin-bottom: 0;

    transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  :focus + label,
  &.has-focus + label {
    outline: 1px dotted var(--c-rouge);
    outline: -webkit-focus-ring-color auto 5px;
  }

  + label * {
    display: block;
  }

  + label svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;
    margin-right: calc(var(--spacing) / 1);
  }

  &.inputfile-2 + label {
    background-color: var(--c-rouge);
    color: white;
    border: 0px solid currentColor;
    white-space: nowrap;

    &:hover {
      background-color: var(--c-rouge_fonce);
    }
  }
}

.fieldCaption {
  font-weight: 500;
  font-size: var(--sl-font-size-x-small);
}

.u-defaultValue {
  margin: calc(var(--spacing) / 8);
  font-size: var(--sl-font-size-x-small);
  text-align: right;
}

.u-colorBlack {
  color: var(--c-noir);
}
.u-colorWhite {
  color: white;
}
.u-colorRed {
  color: var(--c-rouge);
}

.u-colorBleuvert {
  color: var(--c-bleuvert);
}

.u-fontCode {
  font-family: "Fira Code";
}

.u-divCentered {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.u-switch {
  /* Switches */
  --switch-font-size: var(--input-font-size);
  --switch-bg-color: var(--c-rouge_clair);
  --switch-bg-color-checked: var(--c-rouge);
  --switch-border-radius: var(--switch-size);

  --switch-size: 2rem;
  --switch-size-small: 1rem;
  --switch-size-big: 3rem;
  --switch-thumb-bg-color: white;
  --switch-thumb-border-radius: 50%;
  --switch-thumb-spacing: 2px;
  --switch-speed: 0.2s;

  font-size: var(--switch-font-size);

  input {
    display: none;
  }

  input + label {
    position: relative;
    min-width: calc(var(--switch-size) * 2);
    height: var(--switch-size);
    line-height: var(--switch-size);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    /* text-indent: calc(var(--switch-size) * 2 + .5rem); */
    padding-left: calc(var(--switch-size) * 2 + 0.5rem);
  }

  input + label::before,
  input + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--switch-size);
    width: calc(var(--switch-size) * 2);
    bottom: 0;
    display: block;
  }

  input + label::before {
    right: 0;
    background-color: var(--switch-bg-color);
    border-radius: var(--switch-border-radius);
    transition: background-color var(--switch-speed);
  }

  input + label:after {
    top: var(--switch-thumb-spacing);
    left: var(--switch-thumb-spacing);
    width: calc(var(--switch-size) - var(--switch-thumb-spacing) * 2);
    height: calc(var(--switch-size) - var(--switch-thumb-spacing) * 2);
    border-radius: var(--switch-thumb-border-radius);
    background-color: var(--switch-thumb-bg-color);
    transition: margin var(--switch-speed);
  }

  input:checked + label::before {
    background-color: var(--switch-bg-color-checked);
  }

  input:checked + label::after {
    margin-left: var(--switch-size);
  }

  input:disabled + label {
    opacity: 0.5;
    cursor: not-allowed;
  }

  & + .u-switch {
    margin-left: 1rem;
  }
}
.u-switch-xs {
  --switch-size: 0.9rem;
}
.u-switch_twoway {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
    line-height: var(--switch-size);
    height: var(--switch-size);
    padding-top: 1px;

    &:first-child {
      margin-right: 0.5rem;
    }
  }
}
.u-padding_verysmall {
  padding: calc(var(--spacing) / 4);
}

.u-sameRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) / 2);
}

.u-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}
.u-mediaOptions {
  display: flex;
  flex-flow: column nowrap;
  // justify-content: center;
  // background: var(--c-gris);
  border: 2px solid var(--c-gris);

  margin: calc(var(--spacing) / 1) 0;
  padding: calc(var(--spacing) / 2);
  gap: calc(var(--spacing) / 4);

  max-width: 50ch;
}

.u-spacingBottom {
  margin-bottom: calc(var(--spacing) / 2);
}

fieldset {
  border: 2px solid var(--c-gris);
  // background: #f9f9f9;
  margin: 0;

  legend {
    color: var(--c-noir);
    background: white;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0;
  }
}

.u-textEllipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

details {
  summary {
    padding: calc(var(--spacing) / 4);
    cursor: pointer;
    &:hover {
      background: var(--c-gris_clair);
    }
  }
}
