mixin snippets(typeOfSnippet)

  if(typeOfSnippet === 'mediaForm')
    //////////////////////////////////////////////   MEDIA FORM (inside bigmedia)  //////////////////////////////////
    form(onsubmit='return false;' class='add-media-data lead')
      label
        | !{dodoc.lang.modal.informations}
      textarea.mediaContent--textOfTextmedia.js--mediaInformations(type='text' autofocus)
    h3.txt-small_info
      | !{dodoc.lang.modal.pathofmedia}
      .js--mediaFullPath
    hr
    +button('favButton', '', 'isCollapsed')
    +button('deleteMediaBibli', '', 'isCollapsed')
    +button('valider', '', 'isCollapsed')

  if(typeOfSnippet === 'mediaForm_txt')
    //////////////////////////////////////////////   MEDIA FORM TEXT  //////////////////////////////////

    form(onsubmit='return false;' class='add-media-text lead')
      textarea.mediaContent--textOfTextmedia.js--textField(placeholder="Ajouter du texte ici" autofocus required)
    h3.txt-small_info
      | !{dodoc.lang.modal.pathofmedia}
      .js--mediaFullPath
    hr
    +button('favButton', '', 'isCollapsed')
    +button('deleteMediaBibli', '', 'isCollapsed')
    +button('valider', '', 'isCollapsed')

