.timeline_track {
  position: absolute;
  height: @t-timelinetrackheight;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: -1;
}

.timeline_overview {
  position: absolute;
  top:50px;
  height: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

.nomediainfo {
  position: fixed;
  left: 100px;
  bottom: 100px;
  background: white;
  padding: 15px;
  z-index: 1500;
  border: 1px solid @c-noir;
}

.m_timeline {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  padding-left: @t-skipline * 10;

  &::-webkit-scrollbar {
    width: 80px;
    height: 20px;

    &:hover {
      cursor: -webkit-grab;
      cursor: -moz-grab;
    }

    * {
      background-color: transparent;
    }
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: @c-gris_light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @c-noir;
    outline: 1px solid @c-bleu;
  }
//   margin-right:   50px;

  &.with--sidebar_opened {
    margin-left: @t-sidebarWidth;
  }

  .m_timeline-container {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
//     left: 25vw;
    border-right: 1px solid @c-border;
    transition: margin 0.5s ease-out;

    // stupid trick to add some space to the right of this div without affecting its width
    &::after {
      content:'';
      display: block;
      position: absolute;
      right: -150px;
      width: 1px;
      height: 1px;
    }

  }
}


.grid_overlay {
  height: 100%;
  left: 0;
  padding-top:50px;
  position: absolute;
  width: 100%;
  z-index: -1;
  pointer-events:none;

  .grid_overlay--wrapper {
    position:relative;
    height: 100%;
  }

  .gridItem {
    position: absolute;
    height: 100%;

//     transition: all .4s;

    &.gridItem_isrealtimerule {
      border-left: 2px solid @c-rouge_vif;
      z-index:10000;
      height: ~"calc(100% + 50px)";
      margin-top: -50px;
      color: white;
      pointer-events: auto;
      left: -1px;

      .gridItem--caption {
        position: absolute;
        right:0;
        background-color: @c-rouge_vif;
        padding: 1px 4px;
        margin-top: 12px;
        border-radius: 4px 0px 0px 4px;
      }

      .gridItem_isrealtimerule--autoscroll_checkbox {
        position: absolute;
        right: 0;
        width: 93px;
        padding: 5px;
        margin: 0;
        line-height: 1.2;
        border: none;
        top: 65px;
        background-color: @c-rouge_vif;

        border-radius: 4px 0px 0px 4px;

        text-align: right;

        input[type="checkbox"] {
          .margin-right-small;
        }
      }
    }

    &.gridItem_zoomZone {
//       border: 4px dashed @c-rouge_vif;
//       background: repeating-linear-gradient(45deg, transparent, transparent 10px, fade(@c-vert,10%) 10px, fade(@c-vert,10%) 40px);
      border:4px solid @c-bleu_vif;
      width: 150px;
      z-index:10000;
      height: ~"calc(100% + 50px)";
      margin-top: -50px;
      color: white;
      pointer-events: none;
    }

    &.gridItem_isday {
      border-left: 1px solid @c-noir_light;
      z-index:100;
      color: white;

      .gridItem--caption {
        display: block;
        background-color: @c-noir_light;
        border: 2px solid @c-bg_timeline;
        padding: 2px 4px 0px;
        margin-top: -38px;
        border-radius: 3px;
      }
    }
    &.gridItem_ishour {
      z-index:10;
      border-left: 1px solid @c-gris_light;

      &.has--caption {
        border-left: 1px solid @c-gris_light;
      }

      .gridItem--caption {
        display: block;
        width: 150px;
        transform: rotate(-15deg);
        transform-origin: left top;
        margin-left: 4px;
        font-style: italic;
        margin-top: -30px;
      }
    }

    &.gridItem_isminute {
      color: #999;
      border-left: 1px dashed @c-gris_light;
      z-index:1;

      &.has--caption {
        color: #333;
        border-left: 1px solid @c-gris_light;

        .gridItem--caption {
          display: block;
          width: 150px;
          transform: rotate(-15deg);
          transform-origin: left top;
          margin-left: 4px;
          font-style: italic;
          margin-top: -30px;
        }
      }
    }

  }
}
