/* Webfont: Luciole-Regular */
@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: 400;
  src: url("luciole/Luciole-Regular.woff2") format("woff2"),
    url("luciole/Luciole-Regular.woff") format("woff");
}

/* Webfont: Luciole-Italic */
@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 400;
  src: url("luciole/Luciole-Italic.woff2") format("woff2"),
    url("luciole/Luciole-Italic.woff") format("woff");
}

/* Webfont: Luciole-Bold */
@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: 700;
  src: url("luciole/Luciole-Bold.woff2") format("woff2"),
    url("luciole/Luciole-Bold.woff") format("woff");
}

/* Webfont: Luciole-BoldItalic */
@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 700;
  src: url("luciole/Luciole-BoldItalic.woff2") format("woff2"),
    url("luciole/Luciole-BoldItalic.woff") format("woff");
}
