div(id="modal-add-text" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2#modalTitle.popoverTitle
    | !{dodoc.lang.modal.addText}
  form(onsubmit='return false;' class='add-text-form')
    textarea.js--submit-new-text_text(placeholder="Ajouter du texte ici")
    hr
    input(type='submit' class='js--submit-new-text' value='Valider')
  a(class="close-reveal-modal" aria-label="Close") &#215;

