div(id="modal-confirm-pdf" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2.popoverTitle
    | La publication a bien été sauvegardée en pdf:
  p.pdfPath
  a(class="close-reveal-modal" aria-label="Close") &#215;