div(id="modal-bad-ftp" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2.popoverTitle Impossible de se connecter au serveur
  p Mauvais login ou mot de passe
  a(class="close-reveal-modal" aria-label="Close") &#215;