div(id="modal-no-connexion" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")
  h2.popoverTitle Pas de connexion internet
  p Vous n'êtes pas connecté à internet vous ne pouvez pas envoyer votre publication en FTP
  p Vos fichiers web ont été sauvegardé:
  p.path
  a(class="close-reveal-modal" aria-label="Close") &#215;