form(onsubmit='return false;' class='add-media-data lead')
  label
    | !{dodoc.lang.modal.informations}
  textarea(type='text' class='js--mediaInformations')

h3.txt-small_info
  | !{dodoc.lang.modal.pathofmedia}
  .js--mediaFullPath

hr

+button('favButton', '', '')
+button('deleteMediaBibli', '', '')
input.js--submit-add-media-data(type='submit' value='Valider')

