/* STYLES */

._book {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
}

._book p {
  margin: 1em 0;
  /* gestion bancale des césures */
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 4;
  -ms-hyphenate-limit-chars: 7 3 4;
  hyphenate-limit-chars: 7 3 4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* veuves et orphelines (bancal) */
  widows: 3;
  orphans: 3; 
  line-height: 1.3;

  &:empty {
    margin: 0;
  }
}

._mediaContainer {
  display: inline-block;
  position: relative;



  &._isQRCode {
    display: flex;
    align-items: center;
    gap: 2mm;
    background-color: white;
    padding: 1mm;
      border: 1mm solid var(--c-gris_clair);

    ._qrCode {
      flex: 0 0 auto;
      width: 2cm;
      height: 2cm;
      margin: 0;
      object-fit: cover;
      border-radius: 0.25em;
    }
    
  
    ._mediaInfos {
      flex: 1 1 auto;
      font-size: 10px;
  
    }
    ._mediaSourceCredits, ._mediaSourceCaption {
      p {
        margin: 0;
      }
    }
  
    ._thumbnail {
      flex: 0 0 2cm;
    }
  }

  &._fullPage {
    break-before: page;
    break-after: page;
    width: var(--pagedjs-width);
    /* complex calculation because otherwise a p is pushed onto the next page */
    height: calc(var(--pagedjs-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom) - 5mm);
    z-index: 1000;

    > *:not(._mediaCaption) {
      position: absolute;
      top: calc(var(--pagedjs-margin-top) * -1);
      left: calc(var(--pagedjs-margin-left) * -1);
      width: var(--pagedjs-width);
      height: var(--pagedjs-height);
      object-fit: contain;
      background-color: white;

    }
    &._fullPageCover > * {
      object-fit: cover;
    }

    ._mediaCaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5mm;
      font-size: 10px;
      left: calc(var(--pagedjs-margin-left)* -1);

      span {
        display: inline;
        box-decoration-break: clone;
        background-color: white;
        padding: .25em;
        border-radius: 0.25em;
      }
    }


  }
}
._book h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
._book h2 { 
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
} 
._book h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}


._mediaCaption {
  font-size: 10px;
  color: var(--c-gris_fonce);
  font-style: italic;
  text-align: center;
  display: block;

}


/* SET MARGINS */
@page {
  margin-top: 20mm;
  margin-bottom: 20mm;
}

@page:left {
  margin-left: 25mm;
  margin-right: 20mm;
}
@page:right {
  margin-left: 20mm;
  margin-right: 25mm;
}

/* SHOW PAGE COUNTER ON EACH PAGE */

@page:right {
  @right-middle {
    color: #3982B9;
    content: counter(page);
    font-size: 10px;
  }
}
@page:left {
  @left-middle {
    color: #3982B9;
    content: counter(page);
    font-size: 10px;
  }
}

/* SHOW CHAPTER NAME ON EACH PAGE */

._chapter {
  string-set: title attr(data-chapter-title);

  > *:first-child {
    margin-top: 0;
  }
}
@page {
  @bottom-left-corner {
    content: string(title);
    font-size: 10px;
    color: #3982B9;
    font-weight: 600; 
  }
  @top-left-corner {
    content: "Tunizine!";
    font-size: 10px;
    color: #3982B9;
    font-weight: 600;
  }
  @top-right-corner {
    content: "Slash";
    font-size: 10px;
    color: #3982B9;
    font-weight: 600;
    text-align: center;
  }
  @bottom-right-corner {
    content: "Transition";
    font-size: 10px;
    color: #3982B9;
    font-weight: 600;
    text-align: center;
  }
}

/* SET CHAPTER START OPTION */

._chapter[data-starts-on-page="in_flow"]:not(:first-child) {
  margin-top: 3rem;
}
._chapter[data-starts-on-page="page"] {
  break-before: page;
}
._chapter[data-starts-on-page="left"] {
  break-before: left;
}
._chapter[data-starts-on-page="right"] {
  break-before: right;
}

/* SET COVER OPTIONS */

._cover {
  break-after: page;
}
._coverTitle {
  position: relative;
  z-index: 2;
}
._coverImage {
  position: relative;
  z-index: 1;
}
._cover:not([data-layout-mode="normal"]) ._coverImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._cover[data-layout-mode="full_page"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1);
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: var(--pagedjs-height);
}

._cover[data-layout-mode="text_top_image_down"] ._coverTitle {
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="text_top_image_down"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1 + calc(var(--pagedjs-height) / 2));
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="image_top_text_down"] ._coverTitle {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1 + calc(var(--pagedjs-height) / 2) + 2rem);
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="image_top_text_down"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1);
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: calc(var(--pagedjs-height) / 2);
}
