/* STYLES */

._book {
  font-family: "PT Serif", serif;
}

._book p {
  margin: 1em 0;
  /* gestion bancale des césures */
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 4;
  -ms-hyphenate-limit-chars: 7 3 4;
  hyphenate-limit-chars: 7 3 4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* veuves et orphelines (bancal) */
  widows: 3;
  orphans: 3; 
}

._mediaEmbed {
  position: relative;
}

._mediaEmbed ._qrCode {
  position: absolute;
  top: 0;
  right: 0;
  width: 2cm;
  height: 2cm;
  margin: 0.5cm;
  object-fit: cover;
  background-color: white;
  border-radius: 0.25em;
}


/* SET MARGINS */

@page {
  margin-top: 16mm;
  margin-bottom: 32mm;
}

@page:left {
  margin-left: 16mm;
  margin-right: 32mm;
}
@page:right {
  margin-left: 32mm;
  margin-right: 16mm;
}

/* SHOW PAGE COUNTER ON EACH PAGE */

@page:right {
  @bottom-right {
    content: counter(page);
    font-size: 10px;
  }
}
@page:left {
  @bottom-left {
    content: counter(page);
    font-size: 10px;
  }
}

/* SHOW CHAPTER NAME ON EACH PAGE */

._chapterTitle {
  string-set: title content(text);
  font-family: "Volkhov", serif;
  font-weight: 400;
}
@page {
  @bottom-center {
    content: string(title);
    font-size: 10px;
  }
}

/* SET CHAPTER START OPTION */

._chapter[data-starts-on-page="in_flow"]:not(:first-child) {
  margin-top: 3rem;
}
._chapter[data-starts-on-page="left"] {
  break-before: left;
}
._chapter[data-starts-on-page="right"] {
  break-before: right;
}

/* SET COVER OPTIONS */

._cover {
  break-after: page;
}
._coverTitle {
  position: relative;
  z-index: 2;
}
._coverImage {
  position: relative;
  z-index: 1;
}
._cover:not([data-layout-mode="normal"]) ._coverImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
._cover[data-layout-mode="full_page"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1);
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: var(--pagedjs-height);
}

._cover[data-layout-mode="text_top_image_down"] ._coverTitle {
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="text_top_image_down"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1 + calc(var(--pagedjs-height) / 2));
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="image_top_text_down"] ._coverTitle {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1 + calc(var(--pagedjs-height) / 2) + 2rem);
  height: calc(var(--pagedjs-height) / 2);
}
._cover[data-layout-mode="image_top_text_down"] ._coverImage {
  position: absolute;
  top: calc(var(--pagedjs-margin-top) * -1);
  left: calc(var(--pagedjs-margin-left) * -1);
  width: var(--pagedjs-width);
  height: calc(var(--pagedjs-height) / 2);
}
