@t-fontsize: 1.2rem;
@t-lineheight: 1.35;
@t-skipline: @t-fontsize * @t-lineheight;
@t-buttonradius: 6px;

@t-systemBarHeight: 22px;
@t-hauteur_topbar: 70px;


@c-bleumarine: #1d327f;
@c-bleuvert: #4BC0B4;
@c-orange: #FFBE32;
@c-rouge: #FF3E51;

@c-bleumarine-clair: #BEC6E5;
@c-bleuvert-clair: #5AC5B8;
@c-orange-clair: #FFD892;
@c-rouge-clair: #FF808C;

@c-creme: #f4f3ef;
@c-gris: #B9B9B9;
@c-gris_clair: #e5e5e5;
@c-gris_tresclair:#F5F5F5;
@c-gris_fonce: #535353;
@c-noir: #353535;

@c-border: #000;
@c-body_bg: @c-creme;


:root {
  --body-color: black;
  --body-bg-color: #fff;
  --table-stripe-bg-color: #eee;
  --color-primary: #666;
  --font-family: 'Fira';
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --input-font-size: 1rem;
  --input-box-shadow: none;
}
