

input:not([type]), input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, select {

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

  border:none;

  display: block;
  font-family: inherit;
  width: 100%;

  font-size: 1.5rem;
  height: 3.3125rem;

  padding: $t-margin/2;
  margin: 0 0 $t-margin 0;

  color: inherit;
  background-color: $c-gris_clair;
  border-bottom: 2px solid $c-gris;

  transition: border-color 0.50s linear, background 0.15s linear, border-width 0.15s;


  &:focus {
    border-color: $c-images;
    outline: none;
  }
}

input:required {
  background-image: radial-gradient($c-rouge 20%, transparent 25%);
  background-size: 16px 16px;
  background-position: top right;
  background-repeat: no-repeat;

  &.is--empty {
    border-color: $c-rouge;
  }

  + label {
    background-image: radial-gradient(#fff 20%, transparent 25%);
    background-size: 16px 16px;
    background-position: top right;
    background-repeat: no-repeat;
  }
  &.is--empty + label {

  }
}


input[type=range] {
  & {
    -webkit-appearance: none;
    padding: $t-margin 0;
    width: 100%;
  }
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track  {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: $c-gris;
    border:2px solid white;
  }
  &::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $c-bleuvert;
    border:2px solid white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
}

input[type="number"] {

  width: 4rem;
  text-align: center;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
     opacity: 1;
  }
}
// input items basic styles

$t-skipline: 1.4em;

textarea {
  resize:vertical;

  min-height: 8em;
  font-size:1.4em;
  line-height: $t-skipline;

  padding-left: $t-margin;
  padding-right:  $t-margin;

  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
  background-attachment: local;

  $c-color_bg: rgba(0,0,0,.05);
  $c-color_lines: rgba(0,0,0,.1);

  background: linear-gradient($c-color_bg, $c-color_bg calc(#{$t-skipline} - 2px), $c-color_lines calc(#{$t-skipline} - 2px));
  background-size: $t-skipline $t-skipline;
  background-attachment: local;
  background-position-y: calc(#{$t-skipline} * 1.01);

}

fieldset {
  border:none;
}

select {

  	background: $c-gris_clair url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 95% 50%;

}

// file picker
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    display: flex;
    width: 100%;
    max-width: 380px;
    font-size: 1.2rem;
    text-align: center;

    cursor: pointer;
    overflow: hidden;
    word-break: break-word;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: $t-margin/2 $t-margin;
    margin-bottom:  $t-margin;

    border-radius: 5px;
    min-height: 3.3125rem;

    transition: color 1s;
  }

  :focus + label,
  &.has-focus + label {
    outline: 1px dotted $c-rouge;
    outline: -webkit-focus-ring-color auto 5px;
  }

  + label * {
    display: block;
  }

  + label svg {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    fill: currentColor;
    margin-right: $t-margin;
  }


  &.inputfile-2 + label {
    background-color: $c-rouge;
    color: white;
    border: 0px solid currentColor;
  }

  &.inputfile-2:focus + label,
  &.inputfile-2.has-focus + label,
  &.inputfile-2 + label:hover {

  }


}



/* Cachons la case à cocher */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

/* on prépare le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner les pseudo-éléments */
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */
  cursor: pointer;    /* affiche un curseur adapté */
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: -2px;
  width: 17px; height: 17px;
  border: none;
  background: $c-gris_clair;
  box-shadow: none;
}

/* Aspect général de la coche */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: -5px; left: 1px;
  font-size: 16px;
  color: $c-bleuvert;
  transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0; /* coche invisible */
  transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
[type="checkbox"]:checked + label:after {
  opacity: 1; /* coche opaque */
  transform: scale(1); /* mise à l'échelle 1:1 */
}