@mixin scrollbar(
  $scrollbar-height,
  $scrollbar-padding,
  $scrollbar-border,
  $c-barbgcolor: transparent,
  $c-thumbcolor: var(--c-noir)
) {
  &::-webkit-scrollbar {
    height: (($scrollbar-padding * 2) + $scrollbar-height);
    width: (($scrollbar-padding * 2) + $scrollbar-height);
    background-color: $c-barbgcolor;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border: $scrollbar-border solid rgba(255, 255, 255, 0);
    border-radius: $scrollbar-border * 4;
    background-clip: padding-box;

    transition: all 0.4s;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-thumbcolor;
    &:hover {
      background-color: var(--c-gris);
      border: $scrollbar-border solid rgba(255, 255, 255, 0);
    }
  }
}
