doctype html
html
  head
    include templates/head.jade
  body(class="publi")

    .navbar-container
      header.navbar
        +logo()
        +button( 'uploadPubliToFtp', '')

    .publi_container(data-publidata data-publishown="#{slugPubliName}")
      include templates/publiTemplate.jade

    +modals('editPubli')
    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/modules/_uploadPubliToFtp.js')
    script(src='/js/publi.js')
