include templates/buttons.jade

doctype html
html
  head
    link(rel='stylesheet', href='/bower_components/dragula.js/dist/dragula.min.css')
    include templates/head.jade
  body(class="publi")

    .navbar-container
      header.navbar
        +logo()
        +button( 'uploadPubliToFtp', '')
        +button( 'generatePDF', '')

    .publi_container(data-publidata data-publishown="#{slugPubliName}")
      include templates/publiTemplate.jade

    .div_is_loading
    include templates/modals/editPubli
    include templates/modals/confirmPdfExported
    include templates/modals/exportWebNoConnexion
    .js--templates
      include templates/js_templates

    //- //footer
    include templates/footer.jade
    script(src='/js/modules/_uploadPubliToFtp.js')
    script(src='/js/publi.js')
