.template_container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
}

.template_container .publi_medias {
  position: relative;
}

.template_container .media {
  position: relative;
  float: left;
  width: 33.333%;
  height: 0;
  padding-bottom: 33.333%;
  margin-bottom: 0;
  overflow: visible;
  top: 0;
  left: 0;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.template_container .media .mediaContent {
  border: none;
  max-height: none;
  position: absolute;
  bottom: 5px;
  top: 5px;
  left: 5px;
  right: 5px;
  overflow: hidden;
}

.template_container .media .mediaContent img, .template_container .media .mediaContent video, .template_container .media .mediaContent audio {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.template_container .media:not([data-informations=""]) .mediaContent {
  transform-style: preserve-3d;
}

.template_container .media:not([data-informations=""]) .mediaContent img, .template_container .media:not([data-informations=""]) .mediaContent video, .template_container .media:not([data-informations=""]) .mediaContent audio, .template_container .media:not([data-informations=""]) .mediaContent .mediaData {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .45s ease-out;
}

.template_container .media:not([data-informations=""]) .mediaContent img, .template_container .media:not([data-informations=""]) .mediaContent video, .template_container .media:not([data-informations=""]) .mediaContent audio {
  backface-visibility: hidden;
  z-index: 2;
  transform: rotateY(0deg);
}

.template_container .media:not([data-informations=""]) .mediaContent .mediaData {
  backface-visibility: hidden;
  background-color: #333;
  color: white;
  transform: rotateY(-180deg);
  overflow-y: auto;
}

.template_container .media:not([data-informations=""]) .mediaContent .mediaData .mediaData--informations {
  padding-right: 2.8125rem;
}

.template_container .media:not([data-informations=""]) .mediaContent .showCaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 150;
  padding: 0;
  font-weight: 600;
  background-color: transparent;
  font-size: 1rem;
  color: white;
  border-radius: 50%;
  background-color: #FF3E51;
  margin: 10px;
  transition: all .6s ease-out;
}

.template_container .media:not([data-informations=""]) .mediaContent .showCaption.is--clicked {
  color: #FF3E51;
  background-color: white;
}

.template_container .media:not([data-informations=""]) .mediaContent .showCaption.is--clicked + img, .template_container .media:not([data-informations=""]) .mediaContent .showCaption.is--clicked + video, .template_container .media:not([data-informations=""]) .mediaContent .showCaption.is--clicked + audio {
  transform: rotateY(180deg);
  opacity: 0;
}

.template_container .media:not([data-informations=""]) .mediaContent .showCaption.is--clicked ~ .mediaData {
  transform: rotateY(0deg);
}

.template_container .media.media_text .mediaContent {
  overflow: auto !important;
}
